<!doctype html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
    <title>wifi宝贝分销收益</title>
    <link rel="stylesheet" type="text/css" href="../../public/style/css/common/mui.min.css"/>
    <link rel="stylesheet" href="../../public/style/css/earn/style.css">
</head>
<body>
	<header class="mui-bar mui-bar-nav ss-bar-nav">
	    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left ss-icon-left-nav"></a>
	    <h1 class="mui-title ss-title">wifi宝贝分销收益</h1>
	</header>
	<div class="mui-content ss-content">
	    <div class="my-pocket2 tc">
	        <div class="pocket-block1 pocket-block pocket-block-fenxiao">
	            <a href="javascript:void(0);" class="pocket-block1-list"> 
	                <div class="red-txt1">
	                    <span>￥</span>
	                    <span>00</span>
	                    <span>.00</span>
	                </div>
	                <div class="txt_black txt_black_t">徒弟购买0台</div>
	                <div class="txt_black">累计分红：￥0.00</div> 
	                <!--<div class="arrow-right">
	                    <img src="../../public/images/earn/arrow-right.png" alt="">
	                </div>-->
	            </a>
	            <a href="javascript:void(0);" class="pocket-block1-list"> 
	                <div class="red-txt1">
	                    <span>￥</span>
	                    <span>00</span>
	                    <span>.00</span>
	                </div>
	                <div class="txt_black">徒孙购买0台</div>
	                <div class="txt_black">累计分红：￥0.00</div> 
	                <!--<div class="arrow-right">
	                    <img src="../../public/images/earn/arrow-right.png" alt="">
	                </div>-->
	            </a>
	            <a href="javascript:void(0);" class="pocket-block1-list"> 
	                <div class="red-txt1">
	                    <span>￥</span>
	                    <span>00</span>
	                    <span>.00</span>
	                </div>
	                <div class="txt_black">曾徒孙购买0台</div>
	                <div class="txt_black">累计分红：￥0.00</div> 
	                <!--<div class="arrow-right">
	                    <img src="../../public/images/earn/arrow-right.png" alt="">
	                </div>-->
	            </a>
	        </div> 
	        <div class="pocket-btn">
	            <a href="javascript:void(0);">一键领取WiFi宝贝分销收益</a>
	        </div>
	        <div class="pocket-block2 tc">
	            <!--<a href="javascript:void(0);" class="pocket-list">
	                <div><img src="../../public/images/earn/pocket.png" alt=""></div>
	                <div>2.3</div>
	                <div>首彩葡萄酒</div>
	            </a>
	            <a href="javascript:void(0);" class="pocket-list">
	                <div><img src="../../public/images/earn/pocket.png" alt=""></div>
	                <div>2.23</div>
	                <div>首彩葡萄酒</div>
	            </a>
	            <a href="javascript:void(0);" class="pocket-list">
	                <div><img src="../../public/images/earn/pocket.png" alt=""></div>
	                <div>2.23</div>
	                <div>首彩葡萄酒</div>
	            </a>
	            <a href="javascript:void(0);" class="pocket-list">
	                <div><img src="../../public/images/earn/pocket.png" alt=""></div>
	                <div>2.23</div>
	                <div>首彩葡萄酒</div>
	            </a>-->
	        </div>
	    </div>
	</div>
</body>
<script src="../../public/js/libs/mui.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../public/js/common/rem.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	mui.init();
</script>
</html>