<!doctype html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
    <title>我抢到的红包</title>
    <link rel="stylesheet" type="text/css" href="../../public/style/css/common/mui.min.css"/>
    <link rel="stylesheet" href="../../public/style/css/earn/style.css">
</head>
<body>
	<header class="mui-bar mui-bar-nav ss-bar-nav">
	    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left ss-icon-left-nav"></a>
	    <h1 class="mui-title ss-title">时速聚财广告红包</h1>
	</header>
	<div class="mui-content ss-content">
	    <div class="my-pocket tc">
        <div class="pocket-block1 pocket-block">
            <div class="red-txt1">
                <span>￥</span>
                <span>636</span>
                <span>.00</span>
            </div>
            <div class="txt_black">已抢到106个红包</div>
            <div class="txt_black">历史积累：￥108.8</div>
        </div> 
        <div class="pocket-btn">
            <a href="javascript:void(0);">一键领取红包</a>
        </div>
        <div class="pocket-block2 tc">
            <a href="javascript:void(0);" class="pocket-list">
                <div><img src="../../public/images/earn/pocket.png" alt=""></div>
                <div>2.3</div>
                <div>首彩葡萄酒</div>
            </a>
            <a href="javascript:void(0);" class="pocket-list">
                <div><img src="../../public/images/earn/pocket.png" alt=""></div>
                <div>2.23</div>
                <div>首彩葡萄酒</div>
            </a>
            <a href="javascript:void(0);" class="pocket-list">
                <div><img src="../../public/images/earn/pocket.png" alt=""></div>
                <div>2.23</div>
                <div>首彩葡萄酒</div>
            </a>
            <a href="javascript:void(0);" class="pocket-list">
                <div><img src="../../public/images/earn/pocket.png" alt=""></div>
                <div>2.23</div>
                <div>首彩葡萄酒</div>
            </a>
        </div>
    </div>
	</div>
</body>
<script src="../../public/js/libs/mui.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	mui.init();
</script>
</html>