<!doctype html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
    <title>我的收益</title>
    <link rel="stylesheet" type="text/css" href="../../public/style/css/common/mui.min.css"/>
    <link rel="stylesheet" href="../../public/style/css/earn/style.css">
   	<script src="../../public/js/libs/mui.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
	<header class="mui-bar mui-bar-nav ss-bar-nav">
	    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left ss-icon-left-nav"></a>
	    <h1 class="mui-title ss-title">时速聚财广告红包</h1>
	</header>
	<div class="mui-content ss-content">
		<div class="my-profit">
	        <div class="my-profit1 clearfix">
	            <div class="fl">
	                <img src="../../public/images/earn/pocket.png" alt="">
	            </div>
	            <div class="my-profit-div1 red-txt1 fl"> 
	                <div>￥23.22</div>
	                <div>红包合计</div>
	                <div>累计：￥108.8</div>  
	            </div>  
	            <div class="fr">
	                <a href="javascript:void(0);">一键领取</a>
	            </div>
	        </div>  
	        <div class="my-profit2">
	            <a class="my-profit2-list" id="go-hongbao">
	                <div>￥23.22</div>
	                <div>我的红包</div>
	                <div>累计 108.8</div>  
	            </a>
	            <a class="my-profit2-list" id="go-tudi">
	                <div>￥23.22</div>
	                <div>我的红包</div>
	                <div>累计 108.8</div>  
	            </a>
	            <a class="my-profit2-list">
	                <img src="../../public/images/earn/earnintro1.png" alt="">
	            </a>
	            <a class="my-profit2-list">
	                <img src="../../public/images/earn/earnintro2.png" alt="">
	            </a>
	            <a class="my-profit2-list" id="go-fenxiao">
	                <div>￥23.22</div>
	                <div>wifi宝贝分销收益</div>
	                <div>累计 108.8</div>  
	            </a>
	            <a class="my-profit2-list" id="go-ad">
	                <div>￥23.22</div>
	                <div>wifi宝贝广告收益</div>
	                <div>累计 108.8</div>  
	            </a>
	            <a class="my-profit2-list">
	                <img src="../../public/images/earn/earnintro3.png" alt="">
	            </a>
	            <a class="my-profit2-list">
	                <img src="../../public/images/earn/earnintro4.png" alt="">
	            </a>
	        </div>
	        <div class="pocket-block2 tc">
	            <a href="javascript:void(0);" class="pocket-list">
	                <div><img src="../../public/images/earn/pocket.png" alt=""></div>
	                <div>2.2</div>
	                <div>首彩葡萄酒</div>
	            </a>
	            <a href="javascript:void(0);" class="pocket-list">
	                <div><img src="../../public/images/earn/pocket.png" alt=""></div>
	                <div>2.23</div>
	                <div>首彩葡萄酒</div>
	            </a>
	            <a href="javascript:void(0);" class="pocket-list">
	                <div><img src="../../public/images/earn/pocket.png" alt=""></div>
	                <div>2.23</div>
	                <div>首彩葡萄酒</div>
	            </a>
	            <a href="javascript:void(0);" class="pocket-list">
	                <div><img src="../../public/images/earn/pocket.png" alt=""></div>
	                <div>2.23</div>
	                <div>首彩葡萄酒</div>
	            </a>
	        </div>
	    </div>
	</div>
    <script src="../../public/js/common/base.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../public/js/common/common.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../public/js/earn/main.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>