<!doctype html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
    <title>WiFi宝贝分销收益</title>
    <link rel="stylesheet" type="text/css" href="../../public/style/css/common/mui.min.css"/>
    <link rel="stylesheet" href="../../public/style/css/earn/style.css">
</head>
<body>
	<header class="mui-bar mui-bar-nav ss-bar-nav">
	    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left ss-icon-left-nav"></a>
	    <h1 class="mui-title ss-title">wifi宝贝链接广告分红</h1>
	    <button class="mui-btn mui-btn-link mui-pull-right">如何赚取</button>
	</header>
	<div class="mui-content ss-content ss-content__wifi-ad">
	    <div class="my-pocket2 tc">
	        <div class="pocket-block1 pocket-block clearfix" style="margin: 0;">
	            <a href="javascript:void(0);" class="pocket-block1-list fl" style="border-right: 1px solid #eaeaea;"> 
	                <div class="red-txt1">
	                    <span>￥</span>
	                    <span>636</span>
	                    <span>.00</span>
	                </div>
	                <div class="txt_black">已铺设 10台</div>
	                <div class="txt_black">累积分红：￥108.8</div> 
	                <div class="arrow-right">
	                    <img src="../../public/images/earn/arrow-right.png" alt="">
	                </div>
	            </a>
	            <a href="javascript:void(0);" class="pocket-block1-list fl"> 
	                <div class="red-txt1">
	                    <span>￥</span>
	                    <span>636</span>
	                    <span>.00</span>
	                </div>
	                <div class="txt_black">徒弟 105名</div>
	                <div class="txt_black">累计分红：￥108.8</div> 
	                <div class="arrow-right">
	                    <img src="../../public/images/earn/arrow-right.png" alt="">
	                </div>
	            </a>
	            <a href="javascript:void(0);" class="pocket-block1-list" style="border-top: 1px solid #eaeaea; border-right: 1px solid #eaeaea;"> 
	                <div class="red-txt1">
	                    <span>￥</span>
	                    <span>636</span>
	                    <span>.00</span>
	                </div>
	                <div class="txt_black">徒孙 521台</div>
	                <div class="txt_black">累计分红：￥108.8</div> 
	                <div class="arrow-right">
	                    <img src="../../public/images/earn/arrow-right.png" alt="">
	                </div>
	            </a>
	            <a href="javascript:void(0);" class="pocket-block1-list fl" style="border-top: 1px solid #eaeaea;"> 
	                <div class="red-txt1">
	                    <span>￥</span>
	                    <span>636</span>
	                    <span>.00</span>
	                </div>
	                <div class="txt_black">曾徒孙 1322台</div>
	                <div class="txt_black">累计分红：￥108.8</div> 
	                <div class="arrow-right">
	                    <img src="../../public/images/earn/arrow-right.png" alt="">
	                </div>
	            </a>
	        </div> 
	        <div class="pocket-btn">
	            <a href="javascript:void(0);">一键领取收益</a>
	        </div>
	        <div class="pocket-block2 tc">
	            <a href="javascript:void(0);" class="pocket-list">
	                <div><img src="../../public/images/earn/pocket.png" alt=""></div>
	                <div>2.3</div>
	                <div>首彩葡萄酒</div>
	            </a>
	            <a href="javascript:void(0);" class="pocket-list">
	                <div><img src="../../public/images/earn/pocket.png" alt=""></div>
	                <div>2.23</div>
	                <div>首彩葡萄酒</div>
	            </a>
	            <a href="javascript:void(0);" class="pocket-list">
	                <div><img src="../../public/images/earn/pocket.png" alt=""></div>
	                <div>2.23</div>
	                <div>首彩葡萄酒</div>
	            </a>
	            <a href="javascript:void(0);" class="pocket-list">
	                <div><img src="../../public/images/earn/pocket.png" alt=""></div>
	                <div>2.23</div>
	                <div>首彩葡萄酒</div>
	            </a>
	        </div>
	    </div>
	</div>
</body>
<script src="../../public/js/libs/mui.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	mui.init();
</script>
</html>