@charset "utf-8";
ul {
  padding: 0;
  list-style: none;
}
.ss-bar-nav {
  box-shadow: none;
  border-bottom: 1px solid #FEC75C;
  background: url(../../../images/bg_bar.png) repeat-x center;
}
.ss-bar-nav .ss-icon-left-nav {
  font-size: 1.5rem;
  color: #fff;
}
.ss-bar-nav .ss-title {
  color: #ffedcc;
  font-size: 1.375rem;
}
.ss-bar-nav .mui-btn-link {
  color: #ffedcc;
}
.ss-bar-tab.mui-bar-tab .mui-icon {
  background-size: contain;
}
.ss-bar-tab.mui-bar-tab .mui-tab-item.mui-active {
  color: #FAA519;
}
.ss-bar-tab.mui-bar-tab .mui-tab-item.mui-active .ss-icon-hongbao {
  background: url("../../../images/hongbao_s.png") no-repeat center;
}
.ss-bar-tab.mui-bar-tab .mui-tab-item.mui-active .ss-icon-wifi {
  background: url("../../../images/second_s.png") no-repeat center;
}
.ss-bar-tab.mui-bar-tab .mui-tab-item.mui-active .ss-icon-earn {
  background: url("../../../images/earn_s.png") no-repeat center;
}
.ss-bar-tab.mui-bar-tab .mui-tab-item.mui-active .ss-icon-me {
  background: url("../../../images/nav_me_s.png") no-repeat center;
}
.ss-bar-tab.mui-bar-tab .mui-tab-item.mui-active .mui-icon {
  background-size: contain;
}
.ss-bar-tab .ss-icon-hongbao {
  background: url("../../../images/hongbao_d.png") no-repeat center;
}
.ss-bar-tab .ss-icon-wifi {
  background: url("../../../images/second_d.png") no-repeat center;
}
.ss-bar-tab .ss-icon-earn {
  background: url("../../../images/earn_d.png") no-repeat center;
}
.ss-bar-tab .ss-icon-me {
  background: url("../../../images/nav_me_d.png") no-repeat center;
}
.tc {
  text-align: center;
}
.mui-bar-tab .mui-tab-item .ss-icon-hongbao {
  width: 22px;
}
.mui-bar-tab .mui-tab-item .ss-icon-earn {
  width: 28px;
}
.mui-bar-tab .mui-tab-item .mui-icon {
  top: 5px;
}
.mui-bar-tab .mui-tab-item .mui-icon ~ .mui-tab-label {
  height: 21px;
  padding-top: 1px;
}
@font-face {
  font-family: "iconfont";
  src: url('fonts/iconfont.ttf?t=1460618146') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-close:before {
  content: "\e602";
}
.ss-bar-nav {
  box-shadow: none;
  border-bottom: 1px solid #FEBC58;
  background: #FAA519 url('../../../images/bg_bar.png') repeat-x center;
}
.ss-bar-nav .ss-title {
  color: #ffedcc;
  font-size: 1.1875rem;
}
.ss-bar-nav .ss-icon-city {
  height: 44px;
  font-size: 1rem;
  color: #ffedcc;
  letter-spacing: 1px;
}
.ss-bar-nav .ss-icon-city:after {
  content: '\e471';
  display: inline-block;
  font-size: 1.5rem;
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
}
.ss-bar-nav .ss-btn-share {
  float: right;
  height: 44px;
  line-height: 1.7;
  font-size: 1rem;
  color: #ffedcc;
}
.ss-content {
  background: transparent;
}
.ss-content .sub-bar-nav {
  display: table;
  top: 44px;
  bottom: auto;
  width: 100%;
  height: 78px;
  background: #FAA519;
  box-shadow: none;
}
.ss-content .sub-bar-nav .mui-tab-item .mui-icon ~ .mui-tab-label {
  font-size: 0.75rem;
  color: #fff6e6;
}
.ss-content .sub-bar-nav .mui-tab-item.mui-active {
  border-bottom: 5px solid #fff;
  color: #fff;
}
.ss-content .sub-bar-nav .mui-tab-item.mui-active .mui-icon {
  width: 45px;
  height: 45px;
}
.ss-content .sub-bar-nav .mui-tab-item.mui-active .mui-tab-label {
  padding-top: 0.125rem;
  font-size: 0.85rem;
}
.ss-content .sub-bar-nav .mui-icon {
  width: 37px;
  height: 37px;
  background-size: contain;
  transition: all 80ms;
}
.ss-content .ss-icon-navAll {
  background: url("../../../images/hb_navlist_all.png") no-repeat center;
}
.ss-content .ss-icon-food {
  background: url("../../../images/hb_navlist_food.png") no-repeat center;
}
.ss-content .ss-icon-clothes {
  background: url("../../../images/hb_navlist_clothes.png") no-repeat center;
}
.ss-content .mui-icon-hotel {
  background: url("../../../images/hb_navlist_hotel.png") no-repeat center;
}
.ss-content .ss-icon-navAvilable {
  background: url("../../../images/hb_navlist_avilable.png") no-repeat center;
}
.ss-content .mui-icon-trip {
  background: url("../../../images/hb_navlist_trip.png") no-repeat center;
}
