@charset "utf-8";
body {
  font-family: "arial, helvetica, sans-serif";
  background: #FAA519;
}
ul {
  padding: 0;
  list-style: none;
}
.ss-bar-nav {
  box-shadow: none;
  border-bottom: 1px solid #FEC75C;
  background: url(../../../images/bg_bar.png) repeat-x center;
}
.ss-bar-nav .ss-icon-left-nav {
  font-size: 1.5rem;
  color: #fff;
}
.ss-bar-nav .ss-title {
  color: #ffedcc;
  font-size: 1.375rem;
}
.ss-bar-nav .mui-btn-link {
  color: #ffedcc;
}
.ss-bar-tab.mui-bar-tab .mui-icon {
  background-size: contain;
}
.ss-bar-tab.mui-bar-tab .mui-tab-item.mui-active {
  color: #FAA519;
}
.ss-bar-tab.mui-bar-tab .mui-tab-item.mui-active .ss-icon-hongbao {
  background: url("../../../images/hongbao_s.png") no-repeat center;
}
.ss-bar-tab.mui-bar-tab .mui-tab-item.mui-active .ss-icon-wifi {
  background: url("../../../images/second_s.png") no-repeat center;
}
.ss-bar-tab.mui-bar-tab .mui-tab-item.mui-active .ss-icon-earn {
  background: url("../../../images/earn_s.png") no-repeat center;
}
.ss-bar-tab.mui-bar-tab .mui-tab-item.mui-active .ss-icon-me {
  background: url("../../../images/nav_me_s.png") no-repeat center;
}
.ss-bar-tab.mui-bar-tab .mui-tab-item.mui-active .mui-icon {
  background-size: contain;
}
.ss-bar-tab .ss-icon-hongbao {
  background: url("../../../images/hongbao_d.png") no-repeat center;
}
.ss-bar-tab .ss-icon-wifi {
  background: url("../../../images/second_d.png") no-repeat center;
}
.ss-bar-tab .ss-icon-earn {
  background: url("../../../images/earn_d.png") no-repeat center;
}
.ss-bar-tab .ss-icon-me {
  background: url("../../../images/nav_me_d.png") no-repeat center;
}
.tc {
  text-align: center;
}
body {
  background: #fff;
}
.ss-content--list-hongbao {
  overflow-x: hidden;
}
.ss-content--list-hongbao a {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.ss-content--list-hongbao a img {
  display: block;
  width: 100%;
}
.ss-content--list-hongbao a .hongbao-info {
  color: #efefef;
}
.ss-content--list-hongbao a .hongbao-info span {
  display: block;
}
.ss-content--list-hongbao a .text1,
.ss-content--list-hongbao a .text2 {
  position: absolute;
  bottom: 0.375rem;
  width: 50%;
  font-size: .9rem;
}
.ss-content--list-hongbao a .text1 {
  left: 0;
  padding-left: 0.625rem;
}
.ss-content--list-hongbao a .text1 .hongbao-name {
  font-size: 1.4rem;
}
.ss-content--list-hongbao a .text2 {
  right: 0;
  text-align: right;
  padding-right: 0.625rem;
}
