@charset "utf-8";
html {
  max-width: 580px;
  overflow-x: hidden;
}
ul {
  padding: 0;
  list-style: none;
}
.ss-bar-nav {
  box-shadow: none;
  border-bottom: 1px solid #FEC75C;
  background: url('../../../images/bg_bar.png') repeat-x center;
}
.ss-bar-nav .ss-icon-left-nav {
  font-size: 1.5rem;
  color: #fff;
}
.ss-bar-nav .ss-title {
  color: #ffedcc;
  font-size: 1.2rem;
}
.ss-bar-nav .mui-btn-link {
  color: #ffedcc;
}
.ss-bar-tab.mui-bar-tab .mui-icon {
  background-size: contain;
}
.ss-bar-tab.mui-bar-tab .mui-tab-item.mui-active {
  color: #FAA519;
}
.ss-bar-tab.mui-bar-tab .mui-tab-item.mui-active .ss-icon-hongbao {
  background: url("../../../images/hongbao_s.png") no-repeat center;
}
.ss-bar-tab.mui-bar-tab .mui-tab-item.mui-active .ss-icon-wifi {
  background: url("../../../images/second_s.png") no-repeat center;
}
.ss-bar-tab.mui-bar-tab .mui-tab-item.mui-active .ss-icon-earn {
  background: url("../../../images/earn_s.png") no-repeat center;
}
.ss-bar-tab.mui-bar-tab .mui-tab-item.mui-active .ss-icon-me {
  background: url("../../../images/nav_me_s.png") no-repeat center;
}
.ss-bar-tab.mui-bar-tab .mui-tab-item.mui-active .mui-icon {
  background-size: contain;
}
.ss-bar-tab .ss-icon-hongbao {
  background: url("../../../images/hongbao_d.png") no-repeat center;
}
.ss-bar-tab .ss-icon-wifi {
  background: url("../../../images/second_d.png") no-repeat center;
}
.ss-bar-tab .ss-icon-earn {
  background: url("../../../images/earn_d.png") no-repeat center;
}
.ss-bar-tab .ss-icon-me {
  background: url("../../../images/nav_me_d.png") no-repeat center;
}
.tc {
  text-align: center;
}
.mui-bar-tab .mui-tab-item .ss-icon-hongbao {
  width: 22px;
}
.mui-bar-tab .mui-tab-item .ss-icon-earn {
  width: 28px;
}
.mui-bar-tab .mui-tab-item .mui-icon {
  top: 5px;
}
.mui-bar-tab .mui-tab-item .mui-icon ~ .mui-tab-label {
  height: 21px;
  padding-top: 1px;
}
.bg {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 0;
  width: 100%;
  height: 667px;
  background-image: -moz-linear-gradient(top, #ffbe36, #fd9426);
  background-image: -ms-linear-gradient(top, #ffbe36, #fd9426);
  background-image: -o-linear-gradient(top, #ffbe36, #fd9426);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#ffbe36), to(#fd9426));
  background-image: -webkit-linear-gradient(top, #ffbe36, #fd9426);
  background-image: linear-gradient(top, #ffbe36, #fd9426);
}
.bg img {
  display: block;
  width: 100%;
}
.bg .logo-c {
  position: absolute;
  z-index: 2;
  height: 100px;
  width: 200px;
  bottom: 1rem;
  left: 50%;
  margin-left: -100px;
  background: url(../../../public/images/login/logo2.png) no-repeat center;
  background-size: contain;
}
.ss-bar-nav--white {
  background: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid #adadad;
  box-shadow: none;
}
.ss-bar-nav--white .ss-mui-icon-left-nav {
  color: #FAA519;
  padding-top: 5px;
}
.ss-bar-nav--white .ss-mui-icon-left-nav img {
  width: 35px;
  height: 35px;
}
.ss-bar-nav--white .ss-mui-icon-left-nav + .ss-title {
  padding-top: 1px;
  color: #FAA519;
}
body {
  background: #fff;
}
.ss-content {
  background: transparent;
}
.ss-content .sub-bar-nav {
  display: table;
  top: 0;
  bottom: auto;
  width: 100%;
  height: 78px;
  background: #FAA519;
  box-shadow: none;
}
.ss-content .sub-bar-nav .mui-tab-item .mui-icon ~ .mui-tab-label {
  font-size: 0.75rem;
  color: #fff6e6;
}
.ss-content .sub-bar-nav .mui-tab-item.mui-active {
  border-bottom: 5px solid #fff;
  color: #fff;
}
.ss-content .sub-bar-nav .mui-tab-item.mui-active .mui-icon {
  width: 45px;
  height: 45px;
}
.ss-content .sub-bar-nav .mui-tab-item.mui-active .mui-tab-label {
  padding-top: 0.125rem;
  font-size: 0.85rem;
}
.ss-content .sub-bar-nav .mui-icon {
  width: 37px;
  height: 37px;
  background-size: contain;
  transition: all 80ms;
}
.ss-content .ss-icon-navAll {
  background: url("../../../images/hb_navlist_all.png") no-repeat center;
}
.ss-content .ss-icon-food {
  background: url("../../../images/hb_navlist_food.png") no-repeat center;
}
.ss-content .ss-icon-clothes {
  background: url("../../../images/hb_navlist_clothes.png") no-repeat center;
}
.ss-content .mui-icon-hotel {
  background: url("../../../images/hb_navlist_hotel.png") no-repeat center;
}
.ss-content .ss-icon-navAvilable {
  background: url("../../../images/hb_navlist_avilable.png") no-repeat center;
}
.ss-content .mui-icon-trip {
  background: url("../../../images/hb_navlist_trip.png") no-repeat center;
}
.ss-content--list-hongbao {
  overflow-x: hidden;
}
.ss-content--list-hongbao a {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.ss-content--list-hongbao a img {
  display: block;
  width: 100%;
  max-height: 180px;
}
.ss-content--list-hongbao a .hongbao-info {
  position: relative;
  z-index: 3;
  color: #efefef;
}
.ss-content--list-hongbao a .hongbao-info span {
  display: block;
  font-size: .9rem;
}
.ss-content--list-hongbao a .hongbao-bottom-bg {
  position: absolute;
  left: 0;
  bottom: -1px;
  z-index: 2;
}
.ss-content--list-hongbao a .text1,
.ss-content--list-hongbao a .text2 {
  position: absolute;
  bottom: 0.375rem;
  width: 50%;
  font-size: .9rem;
}
.ss-content--list-hongbao a .text1 {
  left: 0;
  padding-left: 0.625rem;
  line-height: 1.3;
}
.ss-content--list-hongbao a .text1 .hongbao-name {
  font-size: 1.1rem;
}
.ss-content--list-hongbao a .text2 {
  right: 0;
  text-align: right;
  padding-right: 0.625rem;
}
.ss-list-hongbao-w {
  margin-top: 78px;
}
