@import "../common/variable";
@import "../common/component";
@charset "utf-8";
.remW(@w) {
    width: @w/@f*@u;
}
.remH(@h) {
    height: @h/@f*@u;
}



html{font-size: 62.5%}
.index-list-titbody,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,body{display:block;padding:0px; margin:0px; border:none;}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;outline: none;}
body{ color: #333;  background: #fff;  }
ol,ul{list-style:none;}
img{border:none;max-width:100%; interpolation-mode: bicubic;} 
input{font-size:15px; border: 0; outline:none;}
button{outline: none}
textarea{ outline:none;}
a{text-decoration:none; color:#333;}
a:active,a:visited{color: #333;}
.clearfix{
    &:after{
     content:"\20";clear:both;height:0;display:block;overflow:hidden;visibility: hidden;font-size: 0;
    }
}
.fr{float:right;}
.fl{float: left;}
.tr{text-align: right}
.tc{text-align: center;}  
.red-txt{color: #FF2E0A;}  

.display-flex {
    display:-moz-box;
    display: -webkit-box;
    display:-webkit-flex;
    display: -moz-flex;
    display:flex;
}
.flex(@num) {
    -moz-box-flex: @num;
    -webkit-box-flex: @num;
    box-flex: @num;
    -webkit-flex-grow: @num;
    -moz-flex-grow: @num;
    flex-grow: @num;
    flex:@num;
}  
.flex-center {
     -webkit-box-pack:center;
    -moz-box-pack:center;
    box-pack:center;
    -moz-justify-content:center;
    -webkit-justify-content:center;
    justify-content:center;
}
.flex-middle-center {
    .display-flex;
   -webkit-box-align:center;
    -moz-box-align:center;
    box-align:center;
    -webkit-align-items:center;
    -moz-align-items:center;
    align-items:center;
}
.flex-right { 
    -moz-box-pack: end;
    -webkit-box-pack: end;
    box-pack:end;
    -webkit-justify-content:flex-end;
    -moz-justify-content: flex-end;
    justify-content:flex-end;
}
.div-center {
    -webkit-flex-flow:row wrap;
    -moz-flex-flow:row wrap;
    flex-flow:row wrap;

    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple; 
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;

    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row; 
    
    -webkit-align-items:stretch;
    -moz-align-items:stretch;
    align-items:stretch;

     -ms-flex-pack: distribute;
    -moz-flex-pack: distribute;
    -webkit-flex-pack: distribute;
    flex-pack: distribute; 

    -webkit-justify-content:space-around;
    -moz-justify-content:space-around;
    justify-content:space-around;
   
} 
.column { 
    -webkit-box-orient: vertical;
    -webkit-box-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}
 
.flex-align-items-center {
     .flex-middle-center;
     .flex-center;
}
.red-txt1{color: #FF2500}
.red-txt2{color: #F14444}
.font_size(@font:1rem){font-size:@font};
@txt_black:#333333;
@color_orange:#FAA519;
.txt_black{color: @txt_black}

//初始化
.ss-bar-nav {
    @pc: #FFDA99;
    box-shadow: none;
    border-bottom: 1px solid #FEBC58;
    background: url('../../../images/bg_bar.png') repeat-x center;

    .ss-title {
        color: lighten(@pc, 10%);
        font-size: 19px;
    }
    
    .ss-icon-left-nav {
        font-size: 24px;
        color: #fff;
    }
    .mui-btn-link {
        color: @pc-l;
    }
}
.ss-content {
    background: #fff;
}
.pocket-block{
    margin:2.8rem 0 2.3rem;  
    span:first-child{
        .font_size(1.2rem);
    };
    span:nth-child(2){
        .font_size(1.5rem);
    };
    span:nth-child(3){
        .font_size(.875rem);
    };
    .txt_black{
        .font_size(1rem);
        line-height: 1rem;
        color: rgba(0,0,0,.8); 
        &:nth-child(2) {
            padding-top: 6/@f*@u;
        }
        &:nth-child(3) {
            padding-top: 18/@f*@u;
        }
    }
   
   &.pocket-block-hongbao {
       margin: 28/@f*@u 0 26/@f*@u;
   }
   &.pocket-block-tudi {
       margin-top: .5rem;
       .txt_black:nth-child(2) {
           line-height: .8;
           padding-top: .2rem;
           padding-bottom: 0;
           font-size: 1rem;
           color: rgba(0,0,0,0.8);
        }
        .txt_black:nth-child(3) {
            padding-top: 0;
            font-size: 0.875rem;
            color: rgba(0,0,0,0.8)
        }
    }
    &.pocket-block-fenxiao {
        .txt_black:nth-child(2) {
            padding: 0;
            font-size: 1rem;
        }
        .txt_black:nth-child(3) {
            padding-top: 0;
            font-size: 0.875rem;
            color: rgba(0,0,0,0.8)
        }
        .arrow-right {
            width: .5rem;
            .remH(13);
            top: 38%;
        }
        img {
            height: auto;
        }
    }
    
     &.pocket-block-wifiad {
       margin-top: .5rem;
       .txt_black:nth-child(2) {
           line-height: .8;
           padding-top: .2rem;
           padding-bottom: 0;
           font-size: 1rem;
           color: rgba(0,0,0,0.8);
        }
        .txt_black:nth-child(3) {
            padding-top: 0;
            font-size: 0.875rem;
            color: rgba(0,0,0,0.8)
        }
    }
}

.pocket-btn{
    .font_size(1.8rem);
    clear: both;
    height: 3rem;
    line-height: 3rem;
    color: #fff;
    font-size: 1.125rem;
    background: @color_orange;
    a{
        display: block;
        color: #fff;
    }
}
.pocket-block2{
    overflow: auto;
    .pocket-list{
        .fl; 
        width: 100% / 3;
        margin:1.25rem 0 0;
       
        div:nth-child(2){ 
            -webkit-text-overflow: ellipsis; 
            -ms-text-overflow: ellipsis; 
            text-overflow: ellipsis; 
            white-space: nowrap;
            overflow: hidden;
            .font_size(1.3rem);
            line-height:1;
            .red-txt2;
            font-size: 1.125rem;
        }
        div:nth-child(3){
            .font_size(1.2rem);
            .red-txt2;
            font-size: 0.875rem;
        }
        img{
            .remW(47);
            .remH(54);
        }
    }

}
@border-gray:#EAEAEA;
.my-pocket2 .pocket-block1{
    margin:.6rem 0; 
    border-bottom:1px solid @border-gray;
}
.my-pocket2 .pocket-block1.pocket-block-tudi {
    margin-top: 0;
    .pocket-block1-list {
        padding-top: .8rem;
        padding-bottom: .4rem;
        .arrow-right {
            width: .5rem;
            .remH(13);
            top: 38%;
        }
        img {
            height: auto;
        }
    }
}
.pocket-block1-list{
    position: relative;
    margin:0 auto;  
    text-align: center;
    .arrow-right{
        position: absolute;
        top:3.7rem;
        left:83%;
        width: 1.5rem;

        margin-left: 1rem; 
    }

    & > div:nth-child(2){
        .font_size(1.4rem);
        line-height: 2rem; 
    }
    & > div:nth-child(3){
        .font_size(1.3rem);
        line-height: 2rem; 
    }
    .txt_black_t {
        padding-bottom: 10px;
    }
    img{
        height: 1.5rem;
    }
}

.width_50{
    width:50%; 
    display: block;
    padding:1rem 0;
}
.my-pocket2 .pocket-block1 .pocket-block1-list{ 
    .width_50;
   
    &:nth-child(2){  
        .fl;
        border-right:1px solid @border-gray;
    }
    &:nth-child(3){  
        .fl;
    }
}
.my-profit-txt1{
    .font_size(1.5rem);
}
.my-profit-txt2{
    .font_size(1rem);
//  line-height: 1.8;
    line-height: 1;
    padding-top: 3px;
}
.my-profit-txt3{
    .font_size(0.875rem);
}
.my-profit1{
    margin:12/@f*@u 15/@f*@u 6/@f*@u 15/@f*@u;
    img{
//      margin-left: 20/@f*@u;
        margin-right: 18/@f*@u;
        width: 47/@f*@u;
        height: 54/@f*@u;
    }
    .my-profit-div1{
        & > div:first-child{
            .my-profit-txt1;
            margin-left: -4px;
//          font-size: 1.5rem;
        }
         & > div:nth-child(2){
            .my-profit-txt2;
//          font-size: 1rem;
            
        }
         & > div:nth-child(3){
            .my-profit-txt3;
//          font-size: 0.875rem;
        } 
    }
    a{
        display: block;
        width: 120/@f*@u;
        height: 40/@f*@u; 
        text-align: center; 
        background: #FAA519;
        color: #fff;
        .font_size(1.6rem);
        line-height: 2.35;
        border-radius: 6px;
        margin-top: .4rem;
        font-size: 18/@f*@u;
    }
}
 
.my-profit2{ 
    .display-flex;
    flex-wrap:wrap;
    .my-profit2-list{ 
        text-align: center;
        .red-txt; 
        .remH(80);
         width: 50%;
    .column;
    .flex-align-items-center; 

        div:nth-child(1){
            .my-profit-txt1;
        }
        div:nth-child(2){
            .my-profit-txt2;
        }
        div:nth-child(3){
            .my-profit-txt3;
        }
        &.ad {
            .remH(72);
        }
        & > div:first-child {
            padding-top: 5px;
        }
    }
    
    @border-color:#CBCBCB;
    .my-profit2-list:nth-child(even){
        border-top:1px solid @border-color; 
        border-left:1px solid @border-color;
    }
    .my-profit2-list:nth-child(odd){
        border-top:1px solid @border-color;  
    }
    .my-profit2-list:last-child,.my-profit2-list:nth-last-child(2){
      border-bottom:1px solid @border-color;
      border-bottom:1px solid @border-color; 
    }
    img{
        width: 100%;
        height: 100%;
    }
}

.ss-content {
    position: relative;
    .ss-btn-link {
        position: absolute;
        bottom: .5rem;
        left: 50%;
        margin-left: -40%;
        background: rgba(255, 255, 255, .2);
        width: 80%;
        height: 2.8125rem;
        padding: 0;
        border: 1px solid #fff;
        color: #fff;
        
        &:enabled:active {
            border: 1px solid #838383;
            background: #838383;
        }
    }
    .ss-btn-getAll {
        &:enabled:active {
            background: #ea9100;
        }
    }
    .btn-allGet {
        &:enabled:active {
            background: #ea9100;
        }
    }
}

