<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>全民wifi</title>
	<link rel="stylesheet" type="text/css" href="../../public/style/css/common/mui.min.css"/>
	<link rel="stylesheet" type="text/css" href="../../public/style/css/wifi/wifi-main.css"/>
    <script src="../../public/js/libs/mui.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
	<header class="mui-bar mui-bar-nav">
	    <a class="mui-action-back mui-pull-left ss-mui-icon-left-nav">
	    	<img src="../../public/images/nav(white)_btn_back_n.png"/>
	    </a>
	    <h1 class="mui-title ss-title">全民WIFI</h1>
	</header>
	<nav class="ss-bar-tab mui-bar mui-bar-tab">
	    <a href="/src/views/home/index.html" class="mui-tab-item">
	        <span class="mui-icon ss-icon-hongbao"></span>
	        <span class="mui-tab-label">广告红包</span>
	    </a>
	    <a href="/src/views/wifi/main.html" class="mui-tab-item mui-active">
	        <span class="mui-icon ss-icon-wifi"></span>
	        <span class="mui-tab-label">全民WIFI</span>
	    </a>
	    <a href="/src/views/earn/main.html" class="mui-tab-item">
	        <span class="mui-icon ss-icon-earn"></span>
	        <span class="mui-tab-label">我的收益</span>
	    </a>
	    <a href="/src/views/me/main.html" class="mui-tab-item">
	        <span class="mui-icon ss-icon-me"></span>
	        <span class="mui-tab-label">我的主页</span>
	    </a>
	</nav>
	<button type="button" class="btn-buy">立即购买</button>
	<div class="mui-content ss-content">
		<div class="banner-w">
			<img src="../../public/images/wifi-banner.png"/>
		</div>
		<div class="price-w">
			<div class="cf tt">
				<div class="share-w">
					<a href="#" class="btn-share">分享</a>
				</div>
				<div class="price-info-w">
					<div class="wifi-name"><span>全民wifi计划 赚钱wifi宝</span></div>
					<div class="price">
						<span class="price-current">￥3380元</span>
						<span class="price-origin">原价￥3380元</span>
					</div>
					<div class="xl">已售10234</div>
				</div>
			</div>
			<div class="wifi-info-w">
				<h3 class="tc title">时速无线全民wifi计划</h3>
				<p>
					全民wifi计划是由称固定时速汇打造的wifi普及计划，
					购买并铺设时速wifi宝设备，在事先公众wifi普及的同时
					可轻松赚钱获利。
				</p>
				<img src="../../public/images/wifi-info.png" class="img-hr" />
				<h3 class="tc">
					时速聚财牛赚钱神器三大收益
				</h3>
				<div class="info-c">
					<h4>硬件收益</h4>
					<p>购买时速无线设备铺设后，所有用户每次连接此设备提供的wifi就有现金熟藕益0.07-0.1元到账</p>
				</div>
				<div class="info-c">
					<h4>软件收益</h4>
					<p>
						您所铺设的时速wifi包浆成为软件入口，用户通过您的wifi入口下载聚财牛app软件，后台将对次用户进行分享
						和邀请记录，送分享或邀请下载使用聚财牛app软件，设备会有现金收益。
					</p>
				</div>
				<div class="info-c">
					<h4>消费收益</h4>
					<p>
						通过您的wifi宝直接或分享邀请下载时速聚财app软件的用户在app进行消费后，商家会根据用户消费金额饭给设备流量入口红包。
					</p>
				</div>
				<div class="ad-w">
					<img src="../../public/images/wifi-ad1.png"/>
					<img src="../../public/images/wifi-ad2.png"/>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="../../public/js/common/base.js" type="text/javascript" charset="utf-8"></script>
<script src="../../public/js/common/common.js" type="text/javascript" charset="utf-8"></script>
<script src="../../public/js/common/rem.js" type="text/javascript" charset="utf-8"></script>
<script src="../../public/js/wifi/wifi-main.js" type="text/javascript" charset="utf-8"></script>
</html>