<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
    <title>我的订单</title>
    <link rel="stylesheet" href="../../public/style/css/common/mui.min.css">
    <link rel="stylesheet" href="../../public/style/css/common/component.css">
    <link rel="stylesheet" href="../../public/style/css/style.css">
    <script src="../../public/js/libs/mui.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body> 
	<header class="mui-bar mui-bar-nav ss-bar-nav">
	    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left ss-icon-left-nav"></a>
	    <h1 class="mui-title ss-title">订单列表 </h1>
	</header>
	<div class="mui-content" style="background: #fff;">
	    <div class="my-order" id="order-list-w">
	    	<p style="padding-top: .5rem;text-align: center;">暂无数据</p>
       	<!--<div class="order-list display-flex">
         	<div class="pro-img">
           		<img src="img/order-img.png" alt="">
         	</div>
         	<div class="pro-con">
           		<div class="pro-con-tit black-txt1">WIFI宝贝</div>
           		<div class="pro-con-property black-txt2">
             		<span>颜色分类：白色</span>
             		<span>尺寸：大号</span>
           		</div>
           	<div class="pro-con-price">
             	<span class="red-txt">￥3688.00</span>
             	<span class="gray-txt2">x2</span>
           	</div>
         	</div>
         	<div class="pro-quantity display-flex tc">
           		<span class="pro-minus">
             		<img src="img/minus.png" alt="">
           		</span>
           		<span class="pro-num">1</span>
           		<span class="pro-plus">
             		<img src="../../public/images/img/plus.png" alt="">
           		</span>
        	</div>  
       </div>-->
       	<!--<div class="order-foot">
         	<div class="order-foot-all tr">
           		<span class="black-txt2">共2件商品</span>
           		<span class="gray-txt2">合计：￥</span>
           		<span class="red-txt">777.00</span>
           		<span class="gray-txt2">(含运费￥10.00)</span>
         	</div>
         	<div class="order-foot-all">
           		<span class="gray-txt1 fl">订单编号：24242424242</span>
           		<span class="black-txt2 fr">2016-2-12 18:00</span>
         	</div>
       </div>-->
     </div> 
	</div>
</body> 
<script src="../../public/js/common/base.js" type="text/javascript" charset="utf-8"></script>
<script src="../../public/js/common/common.js" type="text/javascript" charset="utf-8"></script>
<script src="../../public/js/common/rem.js" type="text/javascript" charset="utf-8"></script>
<script>
	;(function($){
		$.init();
		$.ready(function(){
			$.plusReady(function(){
				var model = {};
				H.common.send({
					url: '/api/order/list',
					success: function (res) {
						console.log(JSON.stringify(res));
						if(res.code === 0) {
							if(res.orders.length == 0) return;
							var lastOrder = res.orders[res.orders.length-1];
							lastOrder.goods_detail = JSON.parse(plus.storage.getItem('goodsdetail'));
							// 存入订单号
							model.order_no = lastOrder.order_no;
							render([lastOrder]);
						}
					}
				});
			});
			
			$(".mui-content").on('click', '.order-list', function() {
				var status = this.getAttribute('data-status');
				if (status == 3) return;
				$.openWindow({
					url: '/src/views/wifi/pay.html', 
					id: 'wifi-pay',
					extras:{
	      				goods_detail: JSON.parse(plus.storage.getItem('goodsdetail'))
					}
				});
			});
		});
		
		function render(data){
			if(!data) return;
			var doms = '';
			var strs = data.map(function(el){
				return createDom(el);
			});
			
			doms = strs.join('');
			
			$("#order-list-w")[0].innerHTML = doms;
			
			function createDom(data) {
				return ('<div class="order-list display-flex" data-status="'+ data.status +'">' + 
			         	'<div class="pro-img">' + 
			           		'<img src="' + H.common.host + data.goods_detail.thumbnail_url + '" alt="">' +
			         	'</div>' +
			         	'<div class="pro-con">'+
			           		'<div class="pro-con-tit black-txt1">'+ data.goods_detail.name +'</div>' +
			           		'<div class="pro-con-property black-txt2">' + 
			             		'<span>'+ data.goods_detail.category +'</span>' +
			           		'</div>' +
			           	'<div class="pro-con-price">' +
			             	'<span class="red-txt">￥'+ data.goods_detail.unit_price +'</span>'+
			             	'<span class="gray-txt2">x'+ data.goods_number +'</span>' +
			           	'</div>'+
			         	'</div>'+ 
			       	'</div>'+
			       	'<div class="order-foot">'+
			         	'<div class="order-foot-all tr">'+
			           		'<span class="black-txt2">共'+ data.goods_number +'件商品</span>'+
			           		'<span class="gray-txt2">合计：￥</span>'+
			           		'<span class="red-txt">'+data.price+'</span>'+
			           		'<span class="gray-txt2">(含运费￥10.00)</span>'+
			         	'</div>'+
			         	'<div class="order-foot-all">'+
			           		'<span class="gray-txt1 fl">订单编号：' + data.order_no + '</span>'+
			         	'</div>'+
			       	'</div>'
				);
			} 	
		}
	})(mui);
</script>
</html>
