@charset "utf-8";
body {
  font-family: "arial, helvetica, sans-serif";
  background: #FAA519;
}
ul {
  padding: 0;
  list-style: none;
}
.ss-bar-tab.mui-bar-tab .mui-icon {
  background-size: contain;
}
.ss-bar-tab.mui-bar-tab .mui-tab-item.mui-active {
  color: #FAA519;
}
.ss-bar-tab.mui-bar-tab .mui-tab-item.mui-active .ss-icon-hongbao {
  background: url("../../../images/hongbao_s.png") no-repeat center;
}
.ss-bar-tab.mui-bar-tab .mui-tab-item.mui-active .ss-icon-wifi {
  background: url("../../../images/second_s.png") no-repeat center;
}
.ss-bar-tab.mui-bar-tab .mui-tab-item.mui-active .ss-icon-earn {
  background: url("../../../images/earn_s.png") no-repeat center;
}
.ss-bar-tab.mui-bar-tab .mui-tab-item.mui-active .ss-icon-me {
  background: url("../../../images/nav_me_s.png") no-repeat center;
}
.ss-bar-tab.mui-bar-tab .mui-tab-item.mui-active .mui-icon {
  background-size: contain;
}
.ss-bar-tab .ss-icon-hongbao {
  background: url("../../../images/hongbao_d.png") no-repeat center;
}
.ss-bar-tab .ss-icon-wifi {
  background: url("../../../images/second_d.png") no-repeat center;
}
.ss-bar-tab .ss-icon-earn {
  background: url("../../../images/earn_d.png") no-repeat center;
}
.ss-bar-tab .ss-icon-me {
  background: url("../../../images/nav_me_d.png") no-repeat center;
}
.tc {
  text-align: center;
}
@font-face {
  font-family: "iconfont";
  src: url('fonts/iconfont.ttf?t=1460618146') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-close:before {
  content: "\e602";
}
.ss-bar-nav {
  box-shadow: none;
  border-bottom: 1px solid #FEC75C;
  background: url(../../images/bg_bar.png) repeat-x center;
}
.ss-bar-nav .ss-icon-left-nav {
  font-size: 1.5rem;
  color: #fff;
}
.ss-bar-nav .ss-title {
  color: #ffedcc;
  font-size: 1.375rem;
}
.ss-content {
  background: none;
}
.ss-content p {
  margin: 0;
  text-align: center;
  color: #ffedcc;
}
.ss-content .tip {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 0;
}
.ss-login-form {
  position: relative;
  z-index: 1;
  background: #FAA519;
}
.ss-login-form .input-w {
  padding: 0.9375rem 1.5625rem 0 1.5625rem;
  padding-bottom: 0;
}
.ss-login-form .input-w input {
  height: 2rem;
  padding-left: 0;
  margin-bottom: 0;
  color: #fff;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #FFDA99;
  background: transparent;
}
.ss-login-form .input-w input::-webkit-input-placeholder {
  font-weight: 40;
  font-size: 1rem;
  letter-spacing: 1px;
  color: #ffe3b3;
}
.ss-login-form .input-w:first-child {
  padding-top: 1.5625rem;
}
.ss-login-form .input-w-last {
  padding-top: 1rem;
}
.ss-login-form .input-w .ss-btn {
  width: 100%;
  height: 2.6875rem;
  border: 1px solid #FFE5BD;
  background: #FEBF5A;
  letter-spacing: 1px;
  color: #ffedcc;
  font-weight: 300;
  font-size: 1.125rem;
}
.ss-login-form .input-w .ss-btn-login {
  margin-bottom: 1rem;
}
.ss-login-form .input-w .ss-btn-sendCode {
  position: absolute;
  right: 1.5625rem;
  top: 0.4375rem;
  width: 8.625rem;
}
.ss-login-form .input-w .ss-btn-sendCode.sending {
  font-size: 1rem;
  color: #494949;
  border: 1px solid #494949;
}
.ss-login-form .input-w--validation {
  position: relative;
}
.ss-login-form .input-w--validation .validationNum-input {
  display: inline-block;
  width: 10.625rem;
}
.ss-login-form .ss-btn__forgot-pass {
  display: inline-block;
  padding-top: 0.8125rem;
  padding-left: 1.5625rem;
  font-size: 0.9rem;
  color: #ffe3b3;
}
.ss-login-form .error-mes-w {
  padding-top: 1.5625rem;
}
