@charset "utf-8";
html {
  max-width: 580px;
  overflow-x: hidden;
}
ul {
  padding: 0;
  list-style: none;
}
.ss-bar-nav {
  box-shadow: none;
  border-bottom: 1px solid #FEC75C;
  background: url('../../../images/bg_bar.png') repeat-x center;
}
.ss-bar-nav .ss-icon-left-nav {
  font-size: 1.5rem;
  color: #fff;
}
.ss-bar-nav .ss-title {
  color: #ffedcc;
  font-size: 1.2rem;
}
.ss-bar-nav .mui-btn-link {
  color: #ffedcc;
}
.ss-bar-tab.mui-bar-tab .mui-icon {
  background-size: contain;
}
.ss-bar-tab.mui-bar-tab .mui-tab-item.mui-active {
  color: #FAA519;
}
.ss-bar-tab.mui-bar-tab .mui-tab-item.mui-active .ss-icon-hongbao {
  background: url("../../../images/hongbao_s.png") no-repeat center;
}
.ss-bar-tab.mui-bar-tab .mui-tab-item.mui-active .ss-icon-wifi {
  background: url("../../../images/second_s.png") no-repeat center;
}
.ss-bar-tab.mui-bar-tab .mui-tab-item.mui-active .ss-icon-earn {
  background: url("../../../images/earn_s.png") no-repeat center;
}
.ss-bar-tab.mui-bar-tab .mui-tab-item.mui-active .ss-icon-me {
  background: url("../../../images/nav_me_s.png") no-repeat center;
}
.ss-bar-tab.mui-bar-tab .mui-tab-item.mui-active .mui-icon {
  background-size: contain;
}
.ss-bar-tab .ss-icon-hongbao {
  background: url("../../../images/hongbao_d.png") no-repeat center;
}
.ss-bar-tab .ss-icon-wifi {
  background: url("../../../images/second_d.png") no-repeat center;
}
.ss-bar-tab .ss-icon-earn {
  background: url("../../../images/earn_d.png") no-repeat center;
}
.ss-bar-tab .ss-icon-me {
  background: url("../../../images/nav_me_d.png") no-repeat center;
}
.tc {
  text-align: center;
}
.mui-bar-tab .mui-tab-item .ss-icon-hongbao {
  width: 22px;
}
.mui-bar-tab .mui-tab-item .ss-icon-earn {
  width: 28px;
}
.mui-bar-tab .mui-tab-item .mui-icon {
  top: 5px;
}
.mui-bar-tab .mui-tab-item .mui-icon ~ .mui-tab-label {
  height: 21px;
  padding-top: 1px;
}
.bg {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 0;
  width: 100%;
  height: 667px;
  background-image: -moz-linear-gradient(top, #ffbe36, #fd9426);
  background-image: -ms-linear-gradient(top, #ffbe36, #fd9426);
  background-image: -o-linear-gradient(top, #ffbe36, #fd9426);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#ffbe36), to(#fd9426));
  background-image: -webkit-linear-gradient(top, #ffbe36, #fd9426);
  background-image: linear-gradient(top, #ffbe36, #fd9426);
}
.bg img {
  display: block;
  width: 100%;
}
.bg .logo-c {
  position: absolute;
  z-index: 2;
  height: 100px;
  width: 200px;
  bottom: 1rem;
  left: 50%;
  margin-left: -100px;
  background: url(../../../public/images/login/logo2.png) no-repeat center;
  background-size: contain;
}
.ss-bar-nav--white {
  background: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid #adadad;
  box-shadow: none;
}
.ss-bar-nav--white .ss-mui-icon-left-nav {
  color: #FAA519;
  padding-top: 5px;
}
.ss-bar-nav--white .ss-mui-icon-left-nav img {
  width: 35px;
  height: 35px;
}
.ss-bar-nav--white .ss-mui-icon-left-nav + .ss-title {
  padding-top: 1px;
  color: #FAA519;
}
@font-face {
  font-family: "iconfont";
  src: url('fonts/iconfont.ttf?t=1460618146') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-close:before {
  content: "\e602";
}
body {
  min-height: 400px;
}
.ss-bar-nav {
  box-shadow: none;
  border-bottom: 1px solid #FEC75C;
}
.ss-bar-nav .ss-icon-left-nav {
  font-size: 1.5rem;
  color: #fff;
}
.ss-bar-nav .ss-title {
  color: #ffedcc;
  font-size: 1.375rem;
}
.ss-content {
  position: relative;
  background: none;
}
.ss-content p {
  margin: 0;
  text-align: center;
  color: #ffedcc;
}
.ss-content .tip {
  position: absolute;
  width: 100%;
  top: 37.5rem;
  z-index: 0;
}
.ss-content .tip p {
  line-height: 18px;
}
.ss-content--regist {
  position: static;
}
.ss-login-form {
  position: relative;
  z-index: 1;
  background: transparent;
}
.ss-login-form .input-w {
  padding: 0.9375rem 1.5625rem 0 1.5625rem;
  padding-bottom: 0;
}
.ss-login-form .input-w input {
  height: 2rem;
  padding-left: 0;
  margin-bottom: 0;
  color: #fff;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #FFDA99;
  background: transparent;
}
.ss-login-form .input-w input::-webkit-input-placeholder {
  font-weight: 40;
  font-size: 1rem;
  letter-spacing: 1px;
  color: #ffe3b3;
}
.ss-login-form .input-w:first-child {
  padding-top: 1.5625rem;
}
.ss-login-form .input-w-last {
  padding-top: 1rem;
}
.ss-login-form .input-w .ss-btn {
  width: 100%;
  height: 2.6875rem;
  border: 1px solid #FFE5BD;
  background: rgba(255, 255, 255, 0.1);
  letter-spacing: 1px;
  color: #ffedcc;
  font-weight: 300;
  font-size: 1.125rem;
}
.ss-login-form .input-w .ss-btn-login {
  margin-bottom: 1rem;
}
.ss-login-form .input-w .ss-btn-sendCode {
  position: absolute;
  right: 1.5625rem;
  top: 0.4375rem;
  width: 8.625rem;
  font-size: 1rem;
}
.ss-login-form .input-w .ss-btn-sendCode.sending {
  font-size: 1rem;
  color: #494949;
  border: 1px solid #494949;
}
.ss-login-form .input-w--validation {
  position: relative;
}
.ss-login-form .input-w--validation .validationNum-input {
  display: inline-block;
  width: 10.625rem;
}
.ss-login-form .ss-btn__forgot-pass {
  display: inline-block;
  padding-top: 0.8125rem;
  padding-left: 1.5625rem;
  font-size: 0.9rem;
  color: #ffe3b3;
}
.ss-login-form .error-mes-w {
  padding-top: 1.5625rem;
}
