<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>立即收徒</title>
    <link rel="stylesheet" type="text/css" href="../../public/style/css/common/mui.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../public/style/css/common/component.css"/>
    <!--<link rel="stylesheet" type="text/css" href="../css/main.css"/>-->
    <link rel="stylesheet" type="text/css" href="../../public/style/css/me/style.css">
    <script src="../../public/js/libs/mui.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body  class="orange-bg"> 
    <!--<header class="mui-bar mui-bar-nav ss-bar-nav ss-bar-nav--white" style="">
	    <a class="mui-action-back mui-pull-left ss-mui-icon-left-nav">
	    	<img src="../../public/images/nav(white)_btn_back_n.png"/>
	    </a>
	    <h1 class="mui-title ss-title">立即收徒</h1>
	</header>-->
	<header class="mui-bar mui-bar-nav ss-bar-nav" style="background: transparent;">
	    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left ss-icon-left-nav"></a>
	    <h1 class="mui-title ss-title">立即收徒</h1>
	</header>
     <div class="mui-content imme-invite"> 
        <div class="imme-invite1 tc">
            立即邀请你的兄弟姐妹闺蜜哥们儿加入<br/>
            把她妈收为你的徒子徒孙孝敬您<br/>
            让师傅您聚财蹭蹭蹭！
        </div>
        <div class="imme-invite2 tc">
            <a href="javascript:;" class="circle">
                <img src="../../public/images/me/login_button_sharecopy_d.png" alt=""><br/>
                复制链接
            </a>
            <a href="javascript:;" class="circle">
                <img src="../../public/images/me/login_button_shareQR_d.png" alt=""><br/>
                二维码
            </a><br/>
            <a href="javascript:;" class="circle">
                <img src="../../public/images/me//login_button_wechat_d.png" alt=""><br/>
                微信
            </a>
            <a href="javascript:;" class="circle">
                <img src="../../public/images/me/login_button_wechat_moment_d.png" alt=""><br/>
                朋友圈
            </a>
            <!--<a href="javascript:;" class="circle">
                <img src="../../public/images/me/login_button_QQ_d.png" alt=""><br/>
                QQ
            </a>
            <a href="javascript:;" class="circle">
                <img src="../../public/images/me/login_button_weibo_d.png" alt=""><br/>
                微博
            </a>-->
        </div>
        <div class="imme-invite3 tc">
             通过以上方式分享APP<br/>
             邀请朋友加入注册时速聚财<br/>
             确认邀请人填写您的注册电话号码<br/>
             才可以收Ta为徒哦！
        </div>

        <div class="imme-invite4 tc">
             您首先的土地以及徒孙抢到的红包<br/>
             购买Wifi宝贝都会有分红进入您的账户
        </div>

     </div>

</body>
<script src="../../public/js/common/base.js" type="text/javascript" charset="utf-8"></script>
<script src="../../public/js/common/common.js" type="text/javascript" charset="utf-8"></script>
<script src="../../public/js/common/rem.js" type="text/javascript" charset="utf-8"></script>
<!--<script src="../../public/js/me/main.js" type="text/javascript" charset="utf-8"></script>-->
<script type="text/javascript">
	mui.init({
		styles: {
			top: '44px',
			bottom: '0px'
		}
	});
</script>
</html>