<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>个人资料</title>
    <link rel="stylesheet" type="text/css" href="../../public/style/css/common/mui.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../public/style/css/me/main.css"/>
    <script src="../../public/js/libs/mui.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
	<header class="mui-bar mui-bar-nav ss-bar-nav">
	    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left ss-icon-left-nav"></a>
	    <h1 class="mui-title ss-title">个人资料</h1>
	    <button class="mui-btn mui-btn-link mui-pull-right">编辑</button>
	</header>
	<div class="mui-content ss-content">
	    <div class="section-top section-top-info">
	    	<div class="avatar-w">
	    		<img src="../../public/images/avatar.jpg"/>
	    	</div>
	    </div>
	    <div class="section-menus-w section-menus-w__info cf">
		    <ul class="mui-table-view">
				<li class="mui-table-view-cell">
    	            <a href="#">
    	            	<span>注册号码</span>
    	            	<span class="info-c">18608010011</span>
    	            </a>
    	        </li>
				<li class="mui-table-view-cell">
    	            <a class="mui-navigate-right">
    	            	<span>昵称</span>
    	            	<span class="info-c">请修改你的用户名</span>
    	            </a>
    	        </li>
    	        <li class="mui-table-view-cell">
    	            <a class="mui-navigate-right">
    	            	<span>性别</span>
    	            	<span class="info-c">男</span>
    	            </a>
    	        </li>
    	        <li class="mui-table-view-cell">
    	            <a class="mui-navigate-right">
    	            	<span>生日</span>
    	            	<span class="info-c">请添加你的生日</span>
    	            </a>
    	        </li>
    	    </ul>
	        <ul class="mui-table-view">
	            <li class="mui-table-view-cell">
	                <a class="mui-navigate-right">
	                	<span>收货地址</span>
	                	<span class="info-c-shouhuo">请添加你的联系地址以方便在聚财牛消费获得服务以及购物</span>
	                </a>
	            </li>
	            <li class="mui-table-view-cell">
	                <a class="mui-navigate-right">
	                	<span>等级</span>
	                	<span class="info-c">普通会员</span>
	                </a>
	            </li>
	        </ul>
	    </div>
	</div>
</body>
<script src="../../public/js/common/base.js" type="text/javascript" charset="utf-8"></script>
<script src="../../public/js/common/common.js" type="text/javascript" charset="utf-8"></script>
<script src="../../public/js/common/rem.js" type="text/javascript" charset="utf-8"></script>
<script src="../../public/js/me/main.js" type="text/javascript" charset="utf-8"></script>
</html>