<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>收货地址</title>
    <link rel="stylesheet" type="text/css" href="../../public/style/css/common/mui.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../public/style/css/me/main.css"/>
    <script src="../../public/js/libs/mui.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
	<header class="mui-bar mui-bar-nav ss-bar-nav">
	    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left ss-icon-left-nav"></a>
	    <h1 class="mui-title ss-title">收货地址</h1>
	    <button class="mui-btn mui-btn-link mui-pull-right" id="btn-sure">确定</button>
	</header>
	<div class="mui-content ss-content">
	    <div class="section-menus-w section-menus-w__info section-menus-w__info-shouhuo-modify cf">
		    <ul class="mui-table-view">
				<li class="mui-table-view-cell">
    	            <!--<a class="mui-navigate-right">-->
    	            	<div class="mui-input-row">
							<label>联系人</label>
							<input type="text" id="contact" placeholder="请输入联系人电话">
						</div>
    	            <!--</a>-->
    	        </li>
    	        <li class="mui-table-view-cell">
    	            <!--<a class="mui-navigate-right">-->
    	            	<div class="mui-input-row">
							<label>电话</label>
							<input type="tel" id="phone" placeholder="请输入联系人电话">
						</div>
    	            <!--</a>-->
    	        </li>
    	        <li class="mui-table-view-cell">
    	            <a class="mui-navigate-right">
    	            	<div class="mui-input-row">
							<label>省</label>
							<select class="mui-select ss-shouhuo-select" id="provinces"></select>
						</div>
    	            </a>
    	        </li>
    	        <li class="mui-table-view-cell">
    	        	<a class="mui-navigate-right">
    	        		<div class="mui-input-row">
							<label>市</label>
							<select class="mui-select ss-shouhuo-select" id="city"></select>
						</div>
    	        	</a>
    	        </li>
    	        <li class="mui-table-view-cell">
    	            <a class="mui-navigate-right">
    	            	<div class="mui-input-row">
							<label>区/镇/县/街道</label>
							<select class="mui-select ss-shouhuo-select" id="district"></select>
						</div>
    	            </a>
    	        </li>
    	    </ul>
		    <ul class="mui-table-view">
		        <li class="mui-table-view-cell">
		            <textarea name="address-shouhuo" class="address-shouhuo" id="full" placeholder="详细地址"></textarea>
		        </li>
		    </ul>
	    </div>
	</div>
</body>
<script src="../../public/js/common/base.js" type="text/javascript" charset="utf-8"></script>
<script src="../../public/js/common/common.js" type="text/javascript" charset="utf-8"></script>
<script src="../../public/js/common/rem.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	(function($) {
		$.init();
		
		$.ready(function() {
			$.plusReady(function () {
				var self = plus;
				init(self);
				getProvinces();
				$("body").on('change', '#provinces', function () {
					console.log('province change');
					var code = this.value;
					if(!code) {
						$("#city")[0].innerHTML = '';
						$("#district")[0].innerHTML = '';
						return;
					}
					getCities({
						province_code: code
					});
					$("#district")[0].innerHTML = '';
				});
				
				$("body").on('change', '#city', function () {
					console.log('city change');
					var code = this.value;
					getDistricts({
						city_code: code
					});
				});
				
				$("body").on('click', '#btn-sure', function () {
					var $provinces = $("#provinces")[0],
						$city = $('#city')[0],
						$district = $('#district')[0],
						$full = $('#full')[0];
						
					var params = {
						contact: $("#contact")[0].value,
						phone: $("#phone")[0].value,
						province: $provinces.options[$provinces.selectedIndex].text,
						city: $city.options[$city.selectedIndex].text,
						district: $district.options[$district.selectedIndex].text,
						full: $full.value
					};
					
					address_update(params, function () {
						H.common.getUserInfo(function () {
							self.storage.address = JSON.stringify(params);
							self.webview.getWebviewById('me-info').reload();
							self.webview.getWebviewById('wifi-order') && self.webview.getWebviewById('wifi-order').reload();
						});
					});
				});
			});
		});
		
		// 获取省
		function getProvinces(){
			send({
				url: H.common.host + '/api/area/provinces',
				params: {},
				type: 'get',
				success: function (res) {
					console.log(JSON.stringify(res));
					if(res.code === 0) {
						render($("#provinces")[0], res.provinces, function (domstr) {
							var nullstr = '<option value=""></option>';
								$("#provinces")[0].innerHTML = nullstr + domstr;
							});
					} else {
						$.alert(res.message);
					}
					
				}
			});
		}
		// 获取市
		function getCities(params) {
			send({
				url: H.common.host + '/api/area/cities',
				params: params,
				type: 'get',
				success: function (res) {
					console.log(JSON.stringify(res));
					if(res.code === 0) {
						render($("#city")[0], res.cities, function(domstr){
							var nullstr = '<option value=""></option>';
							$("#city")[0].innerHTML = nullstr + domstr;
						});
					} else {
						$.alert(res.message);
					}
				}
			});
		}
		// 或取区，县
		function getDistricts(params) {
			send({
				url: H.common.host + '/api/area/districts',
				params: params,
				type: 'get',
				success: function (res) {
					console.log(JSON.stringify(res));
					if(res.code === 0 ) {
						render($("#district")[0], res.districts);
					} else {
						$.alert(res.message);
					}
				}
			});
		}
		
		// 提交更新信息
		function address_update(params, cb) {
			send({
				url: H.common.host + '/api/user/profile/address_update',
				params: params,
				type: 'post',
				success: function (res) {
					console.log(JSON.stringify(res));
					if(res.code === 0) {
						cb && cb();
						$.toast(res.message || '更新成功');
						plus.webview.getWebviewById('wifi-order').reload();
						$.back();
					} else {
						$.alert(res.message);
					}
				}
			});
		}
		
		function send(obj) {
			console.log(JSON.stringify(obj));
			$.ajax( obj.url , {
				data: obj.params || {},
				dataType:'json',//服务器返回json格式数据
				type: obj.type || 'get',//HTTP请求类型
				timeout:10000,//超时时间设置为10秒；
				success: function(res){
					obj.success && obj.success(res);
				},
				error: function(xhr, type, thrown){
					$.alert(xhr.responseText);
				}
			});
		}
		
		function render(el, data, cb) {
			if(!H.isArray(data)) return;
			var dom = domstr(data);
			el.innerHTML = dom;
			cb && cb(dom);
			
			function domstr (arr) {
				if(!H.isArray(arr)) return;
				var str = '';
				$.each(arr, function (index, el) {
					str += generateOption(el);
				});
				return str;
			}	
			
			function generateOption (obj) {
				return '<option value="' + obj.code + '">' + obj.name + '</option>';
			}
		}
		
		function init(plus) {
			if(!plus) return;
			var address = JSON.parse(plus.storage.getItem('userinfo')).address;
			$("#contact")[0].value = address && address.contact || '';
			$("#phone")[0].value = address && address.phone || '';
			$("#full")[0].value = address && address.full || '';
		}
		
	})(mui);
</script>
</html>