@import "common/variable";
@import "common/component";
@import "common/iconfont";

@u: 1rem;
@f: 16;

body {
    min-height: 400px;
//  position: relative;
//  background: url(../../images/login/orange_bg.png) no-repeat;
}

.ss-bar-nav {
    @pc: #FFDA99;
    box-shadow: none;
    border-bottom: 1px solid #FEC75C;
//  background: url(../../images/bg_bar.png) repeat-x center;
    .ss-icon-left-nav {
        font-size: (24/@f)*@u;
        color: #fff;
    }
    .ss-title {
        color: lighten(@pc, 10%);
        font-size: (22/@f)*@u;
    }
}

.ss-content {
    position: relative;
    @pc: #FFDA99;
    background: none;
    
    .bg {
        position: absolute;
        top: 0;    
        bottom: 0;
        z-index: 0;
        height: 667px;
        img {
            display: block;
            width: 100%;
        }
//      &#bg_img {
            background-image: -moz-linear-gradient(top, #ffbe36, #fd9426);
            background-image: -ms-linear-gradient(top, #ffbe36, #fd9426);
            background-image: -o-linear-gradient(top, #ffbe36, #fd9426);
            background-image: -webkit-gradient(linear, center top, center bottom, from(#ffbe36), to(#fd9426));
            background-image: -webkit-linear-gradient(top, #ffbe36, #fd9426);
            background-image: linear-gradient(top, #ffbe36, #fd9426);
//      }
    }
    
    p {
        margin: 0;
        text-align: center;
        color: lighten(@pc, 10%);
    }
    .tip {
        position: absolute;
        width: 100%;
//      bottom: 10px;    
        top: 37.5rem;
        z-index: 0;
        p {
            line-height: 18px;
        }
    }
    &--regist {
        position: static;
    }
    
    .logo-c {
        position: relative;
        z-index: 2;
        height: 100px;
        margin-top: 11rem;
        background: url(../../../public/images/login/logo2.png) no-repeat center;
        background-size: contain;
    }
}

.ss-login-form {
    @pc: #FFDA99;
    position: relative;
    z-index: 1;
    background: transparent;
    .input-w {
        padding: (15/@f)*@u (25/@f)*@u 0 (25/@f)*@u;
        padding-bottom: 0;
        input {
            .remH(32);
            padding-left: 0;
            margin-bottom: 0;
            color: #fff;
            border: none;
            border-radius: 0;
            border-bottom: 2px solid @pc;
            background: transparent;
            &::-webkit-input-placeholder {
                font-weight: 40;
                font-size: (16/@f)*@u;
                letter-spacing: 1px;
                color: lighten(@pc, 5%);
            }          
        }
        &:first-child{
            padding-top: (25/@f)*@u;
        }
        &-last {
            padding-top: 1rem;
        }
        
        .ss-btn {
            width: 100%;
            height: (43/@f)*@u;
            border: 1px solid #FFE5BD;
            background: rgba(255, 255, 255, .1);
            letter-spacing: 1px;;
            color: lighten(@pc, 10%);
            font-weight: 300;
            font-size: (18/@f)*@u;
            &-login {
                margin-bottom: 1rem;
            }
            &-sendCode {
                position: absolute;
                right: 25/@f*@u;
                top: 7/@f*@u;
                .remW(138);
                font-size: 1rem;
                
                &.sending {
                    font-size: 1rem;
                    color: #494949;
                    border: 1px solid #494949;
                }
            }
        }
        
        &--validation {
            position: relative;
            .validationNum-input {
                display: inline-block;
                .remW(170);
            }
        }
    }
    .ss-btn__forgot-pass {
        display: inline-block;
        padding-top: (13/@f)*@u;;
        padding-left: (25/@f)*@u;
        font-size: 0.9rem;
        color: lighten(@pc, 5%);
    }
    
    .error-mes-w {
        padding-top: 25/@f*@u;
    }
}
