@import "../common/variable";
@import "../common/component";
@import "../common/iconfont";

body {
    background-color: #fff;
}

.ss-content {
    @pc: #FFDA99;
    background: transparent; 
    overflow: auto;   
    .section-top {
        position: relative;
        height: 285/@f*@u;
        background-color: @primary;
        .me-info-w {
            text-align: center;
            color: lighten(@pc, 10%);
            .name {
                font-size: 1.6rem;
            }
            .phone {
                padding: 4/@f*@u 0 8/@f*@u 0;
                font-size: 1.1rem;
            }
            .money {
                color: #fff;
                font-size: 2rem;
            }
            .jczc {
                padding: 10/@f*@u 0;
                font-size: 0.9rem;
                 i {
                     font-size: 1.2rem;
                     color: #fff;
                 }
            }
        }

        .avatar-w {
            padding-top: 0.75rem;
            text-align: center;
            overflow: hidden;
            
            img {
                display: inline-block;
                width: 105/@f*@u;
                height: 105/@f*@u;
                border-radius: 50%;
                margin: 10px auto;
            }
        }
        .share {
            position: absolute;
            top: 1rem;
            left: 20/@f*@u;
            color: lighten(@pc, 10%);
        }
        .vipflag {
            display: block;
            position: absolute;
            right: 0;
            top: (110/2+16)/@f*@u;
            width: 70px;
            height: 27px;
            line-height: 27px;
            padding-left: 10px;
            border-top-left-radius: 13px;
            border-bottom-left-radius: 13px;
            background-color: rgba(0, 0, 0, .2);
            color: lighten(@pc, 10%);
            font-size: 0.85rem;
        }
        .btn-order {
            position: absolute;
            right: 30/@f*@u;
            bottom: 2rem;
            padding-top: 60px;
            background: url(../../../images/order-icon.png) no-repeat center;
            color: lighten(@pc, 10%);
            font-size: 0.8rem;
            letter-spacing: 1px;
        }
        .guangbo-w {
            width: 100%;
            height: 25px;
            overflow: hidden;
            p {
                font-size: 0.5rem;
                color: @pc-l;
            }
        }
        
        &-info {
            .remH(151);
            background-color: #fbfbfb;
        }
    }
    .section-menus-w {
        float: left;
        width: 100%;
        background-color: #fbfbfb;
        ul {
            margin-top: 1rem;
        }
        .mui-table-view-cell {
            &:after {
                left: 0;                
            }
        }
        .mui-table-view-cell {
            padding: 12/@f*@u 15/@f*@u;
        }
        .ss-btn-logout {
            width: 86%;
            height: 46/@f*@u;
            line-height: 1rem;
            margin: 18/@f*@u auto 0;
            background-color: #EB4112;
            color: #fff;
            border: none;
        }
        
        &__info {
            @pad: 10px;
            ul {
                margin-top: @pad*2;
                color: #666;
            }
            .info-c {
                float: right;
                padding-right: @pad*3;
                
                &-shouhuo {
                    display: block;
                    padding-top: @pad/2;
                    padding-right: @pad*3;
                    white-space: normal;
                    font-size: 0.85rem;
                    letter-spacing: 1px;
                }
            }
            
            &-shouhuo-modify {
                .mui-input-row {
                    label {
                        padding: 0;
                    }
                    input {
                        padding: 0;
                        height: 20px;
                    }
                }
                .address-shouhuo {
                    padding: 0;
                    border: none
                }
            }
        }
    }
}
