<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>广告</title>
	    <link rel="stylesheet" type="text/css" href="../../public/style/css/common/mui.min.css"/>
        <script src="../../public/js/libs/mui.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="mui-content">
		    广告一
		</div>
	</body>
	<script src="../../public/js/entry/ad.js"></script>
</html>
