@charset "utf-8";
ul {
  padding: 0;
  list-style: none;
}
.ss-bar-nav {
  box-shadow: none;
  border-bottom: 1px solid #FEC75C;
  background: url(../../../images/bg_bar.png) repeat-x center;
}
.ss-bar-nav .ss-icon-left-nav {
  font-size: 1.5rem;
  color: #fff;
}
.ss-bar-nav .ss-title {
  color: #ffedcc;
  font-size: 1.375rem;
}
.ss-bar-nav .mui-btn-link {
  color: #ffedcc;
}
.ss-bar-tab.mui-bar-tab .mui-icon {
  background-size: contain;
}
.ss-bar-tab.mui-bar-tab .mui-tab-item.mui-active {
  color: #FAA519;
}
.ss-bar-tab.mui-bar-tab .mui-tab-item.mui-active .ss-icon-hongbao {
  background: url("../../../images/hongbao_s.png") no-repeat center;
}
.ss-bar-tab.mui-bar-tab .mui-tab-item.mui-active .ss-icon-wifi {
  background: url("../../../images/second_s.png") no-repeat center;
}
.ss-bar-tab.mui-bar-tab .mui-tab-item.mui-active .ss-icon-earn {
  background: url("../../../images/earn_s.png") no-repeat center;
}
.ss-bar-tab.mui-bar-tab .mui-tab-item.mui-active .ss-icon-me {
  background: url("../../../images/nav_me_s.png") no-repeat center;
}
.ss-bar-tab.mui-bar-tab .mui-tab-item.mui-active .mui-icon {
  background-size: contain;
}
.ss-bar-tab .ss-icon-hongbao {
  background: url("../../../images/hongbao_d.png") no-repeat center;
}
.ss-bar-tab .ss-icon-wifi {
  background: url("../../../images/second_d.png") no-repeat center;
}
.ss-bar-tab .ss-icon-earn {
  background: url("../../../images/earn_d.png") no-repeat center;
}
.ss-bar-tab .ss-icon-me {
  background: url("../../../images/nav_me_d.png") no-repeat center;
}
.tc {
  text-align: center;
}
.mui-bar-tab .mui-tab-item .ss-icon-hongbao {
  width: 22px;
}
.mui-bar-tab .mui-tab-item .ss-icon-earn {
  width: 28px;
}
.mui-bar-tab .mui-tab-item .mui-icon {
  top: 5px;
}
.mui-bar-tab .mui-tab-item .mui-icon ~ .mui-tab-label {
  height: 21px;
  padding-top: 1px;
}
.bg {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 0;
  width: 100%;
  height: 667px;
  background-image: -moz-linear-gradient(top, #ffbe36, #fd9426);
  background-image: -ms-linear-gradient(top, #ffbe36, #fd9426);
  background-image: -o-linear-gradient(top, #ffbe36, #fd9426);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#ffbe36), to(#fd9426));
  background-image: -webkit-linear-gradient(top, #ffbe36, #fd9426);
  background-image: linear-gradient(top, #ffbe36, #fd9426);
}
.bg img {
  display: block;
  width: 100%;
}
.bg .logo-c {
  position: absolute;
  z-index: 2;
  height: 100px;
  width: 200px;
  bottom: 1rem;
  left: 50%;
  margin-left: -100px;
  background: url(../../../public/images/login/logo2.png) no-repeat center;
  background-size: contain;
}
@font-face {
  font-family: "iconfont";
  src: url('fonts/iconfont.ttf?t=1460618146') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-close:before {
  content: "\e602";
}
.ss-content {
  background: transparent;
  overflow: auto;
}
.ss-content .section-top {
  position: relative;
  height: 18.4375rem;
  background-image: -moz-linear-gradient(top, #ffbe36, #fd9426);
  background-image: -ms-linear-gradient(top, #ffbe36, #fd9426);
  background-image: -o-linear-gradient(top, #ffbe36, #fd9426);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#ffbe36), to(#fd9426));
  background-image: -webkit-linear-gradient(top, #ffbe36, #fd9426);
  background-image: linear-gradient(top, #ffbe36, #fd9426);
}
.ss-content .section-top .me-info-w {
  text-align: center;
  color: #ffedcc;
}
.ss-content .section-top .me-info-w .name {
  font-size: 1.5rem;
}
.ss-content .section-top .me-info-w .name span {
  padding-left: 12px;
}
.ss-content .section-top .me-info-w .phone {
  padding: 0 0 0.875rem 0;
  font-size: 1.1rem;
}
.ss-content .section-top .me-info-w .money {
  color: #fff;
  font-size: 2rem;
  padding-right: 10px;
}
.ss-content .section-top .me-info-w .jczc {
  padding: 0.625rem 0 0.5rem 0;
  font-size: 1rem;
}
.ss-content .section-top .me-info-w .jczc i {
  font-size: 1.4rem;
  color: #fff;
}
.ss-content .section-top .avatar-w {
  padding-top: 1.6875rem;
  text-align: center;
  overflow: hidden;
}
.ss-content .section-top .avatar-w img {
  display: inline-block;
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
  border: 1px solid #fff;
  margin: 10px auto;
}
.ss-content .section-top .avatar-w--info {
  background: #fbfbfb;
}
.ss-content .section-top .share {
  position: absolute;
  top: 1rem;
  left: 1.25rem;
  color: #ffedcc;
}
.ss-content .section-top .vipflag {
  display: block;
  position: absolute;
  right: 0;
  top: 4.4375rem;
  width: 70px;
  height: 27px;
  line-height: 27px;
  padding-left: 10px;
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
  background-color: rgba(0, 0, 0, 0.2);
  color: #ffedcc;
  font-size: 0.85rem;
}
.ss-content .section-top .btn-order {
  position: absolute;
  right: 1.875rem;
  bottom: 2rem;
  padding-top: 60px;
  background: url(../../../images/order-icon.png) no-repeat center;
  color: #ffedcc;
  font-size: 0.8rem;
  letter-spacing: 1px;
}
.ss-content .section-top .guangbo-w {
  width: 100%;
  height: 25px;
  overflow: hidden;
}
.ss-content .section-top .guangbo-w p {
  font-size: 0.8rem;
  color: #ffedcc;
}
.ss-content .section-top-info {
  height: 9.4375rem;
  background: #fbfbfb;
}
.ss-content .section-menus-w {
  float: left;
  width: 100%;
  background-color: #fbfbfb;
}
.ss-content .section-menus-w ul {
  margin-top: 1rem;
}
.ss-content .section-menus-w .mui-table-view-cell:after {
  left: 0;
}
.ss-content .section-menus-w .mui-table-view-cell {
  padding: 0.75rem 0.9375rem;
}
.ss-content .section-menus-w .ss-btn-logout {
  width: 86%;
  height: 2.875rem;
  line-height: 1rem;
  margin: 1.125rem auto 0;
  background-color: #EB4112;
  color: #fff;
  border: none;
}
.ss-content .section-menus-w__info ul {
  margin-top: 20px;
  color: #666;
}
.ss-content .section-menus-w__info .info-c {
  float: right;
  padding-right: 30px;
}
.ss-content .section-menus-w__info .info-c-shouhuo {
  display: block;
  padding-top: 5px;
  padding-right: 30px;
  white-space: normal;
  font-size: 0.85rem;
  letter-spacing: 1px;
}
.ss-content .section-menus-w__info-shouhuo-modify .mui-input-row label {
  padding: 0;
}
.ss-content .section-menus-w__info-shouhuo-modify .mui-input-row input {
  padding: 0;
  height: 20px;
}
.ss-content .section-menus-w__info-shouhuo-modify .mui-input-row input::-webkit-input-placeholder {
  font-size: 1rem;
  letter-spacing: 1px;
}
.ss-content .section-menus-w__info-shouhuo-modify .address-shouhuo {
  padding: 0;
  border: none;
}
.ss-content .section-menus-w .mui-table-view-cell > a:not(.mui-btn) {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.6);
}
