@charset "utf-8";
body {
  font-family: "arial, helvetica, sans-serif";
  background: #FAA519;
}
ul {
  padding: 0;
  list-style: none;
}
.ss-bar-tab.mui-bar-tab .mui-icon {
  background-size: contain;
}
.ss-bar-tab.mui-bar-tab .mui-tab-item.mui-active {
  color: #FAA519;
}
.ss-bar-tab.mui-bar-tab .mui-tab-item.mui-active .ss-icon-hongbao {
  background: url("../../../images/hongbao_s.png") no-repeat center;
}
.ss-bar-tab.mui-bar-tab .mui-tab-item.mui-active .ss-icon-wifi {
  background: url("../../../images/second_s.png") no-repeat center;
}
.ss-bar-tab.mui-bar-tab .mui-tab-item.mui-active .ss-icon-earn {
  background: url("../../../images/earn_s.png") no-repeat center;
}
.ss-bar-tab.mui-bar-tab .mui-tab-item.mui-active .ss-icon-me {
  background: url("../../../images/nav_me_s.png") no-repeat center;
}
.ss-bar-tab.mui-bar-tab .mui-tab-item.mui-active .mui-icon {
  background-size: contain;
}
.ss-bar-tab .ss-icon-hongbao {
  background: url("../../../images/hongbao_d.png") no-repeat center;
}
.ss-bar-tab .ss-icon-wifi {
  background: url("../../../images/second_d.png") no-repeat center;
}
.ss-bar-tab .ss-icon-earn {
  background: url("../../../images/earn_d.png") no-repeat center;
}
.ss-bar-tab .ss-icon-me {
  background: url("../../../images/nav_me_d.png") no-repeat center;
}
.tc {
  text-align: center;
}
@font-face {
  font-family: "iconfont";
  src: url('fonts/iconfont.ttf?t=1460618146') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-close:before {
  content: "\e602";
}
body {
  background-color: #fff;
}
.ss-content {
  background: transparent;
}
.ss-content .section-top {
  position: relative;
  height: 17.1875rem;
  background-color: #FAA519;
}
.ss-content .section-top .me-info-w {
  text-align: center;
  color: #ffedcc;
}
.ss-content .section-top .avatar-w {
  padding-top: 1rem;
  text-align: center;
  overflow: hidden;
}
.ss-content .section-top .avatar-w img {
  display: inline-block;
  width: 6.5625rem;
  height: 6.5625rem;
  border-radius: 50%;
  margin: 10px auto;
}
.ss-content .section-top .share {
  position: absolute;
  top: 0.3125rem;
  left: 1.25rem;
  color: #ffedcc;
}
.ss-content .section-top .vipflag {
  display: block;
  position: absolute;
  right: 0;
  top: 4.125rem;
  width: 80px;
  height: 27px;
  line-height: 27px;
  padding-left: 5px;
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #ffedcc;
}
.ss-content .section-menus-w .ss-btn-logout {
  width: 86%;
  margin: 1.125rem auto 0;
  background-color: #EB4112;
  color: #fff;
}
