<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>城市定位</title>
		<link rel="stylesheet" type="text/css" href="../../public/style/css/common/mui.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../public/style/css/login.css"/>
		<script src="../../public/js/libs/mui.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		
		<header class="mui-bar mui-bar-nav ss-bar-nav">
		    <a class="mui-action-back mui-icon iconfont icon-close mui-pull-left ss-icon-left-nav"></a>
		    <h1 class="mui-title ss-title">城市定位</h1>
		</header>
		<div class="mui-content ss-content">
		    <div class="serach-w">
		    	<input type="text" name="input-search" id="input-search" value="" placeholder="请输入城市或拼音查询" />
		    </div>
		    <div class="current-city-w">
		    	<span class="current-city">成都</span>
		    	<span class="location-tip">GPS定位</span>
		    </div>
		</div>
	</body>
	<script src="../../public/js/common/base.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../public/js/common/rem.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../public/js/login/login.js" type="text/javascript" charset="utf-8"></script>
</html>
