<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>红包详情</title>
    <link rel="stylesheet" type="text/css" href="../../public/style/css/common/mui.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../public/style/css/style.css"/>
    <script src="../../public/js/libs/mui.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
	<div class="mui-content ss-content">
		<div class="img-c">
			<img src="../../public/images/home/img_adv_testimg.png" alt="" />
		</div>
		<img id="icon_hongbao" style="left: 0; top: 300px" src="../../public/images/home/hongbao_icon_s.png"/>
	</div>
	<div class="pop-hongbao-c__detail2">
		<div class="mask"></div>
		<div class="hongbao-c">
			<h3>请选择正确的答案打开红包</h3>
			<div class="intro-foot">
	         	<div>
	           		<span class="test-tit">首彩拥有以下哪个系列葡萄酒代理权</span>
		           	<ul class="question-list">
			           	<li>A. KAJDLFKAJDFA</li>
			           	<li>B. KAJDLFKAJDFA</li>
			           	<li>C. KAJDLFKAJDFA</li>
			           	<li>D. KAJDLFKAJDFA</li>
		           	</ul>
		           	<div class="test-answer display-flex">
		             	<a href="javascript:void(0);" class="flex1">A</a>
		             	<a href="javascript:void(0);" class="flex1">B</a>
		             	<a href="javascript:void(0);" class="flex1">C</a>
		             	<a href="javascript:void(0);" class="flex1">D</a>
		           	</div>
		           	<div class="display-flex btn-submit-w">
		             	<button type="button" class="mui-btn-block btn-confirm-ans" id="ss-btn-submitAns">确认提交答案</button>
		           	</div>
		           	<div class="tc intro-tips">
		             	选择错误答案 将无法领取红包
		           	</div>
	         	</div>
	       	</div>
		</div>
	</div>
</body>
<script src="../../public/js/common/base.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../public/js/common/common.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../public/js/common/rem.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../public/js/home/detail2-hongbao.js"></script>
</html>