<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>登录</title>
		<link rel="stylesheet" type="text/css" href="../../public/style/css/common/mui.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../public/style/css/home/index.css"/>
		<script src="../../public/js/libs/mui.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav ss-bar-nav">
		    <a class="mui-icon mui-pull-left ss-icon-city" id="city-locate">成都</a>
		    <h1 class="mui-title ss-title">时速聚财广告红包</h1>
			<a class="mui-icon ss-btn-share">分享</a>
		</header>
		<nav class="ss-bar-tab mui-bar mui-bar-tab">
		    <a href="/src/views/home/index.html" class="mui-tab-item mui-active">
		        <span class="mui-icon ss-icon-hongbao"></span>
		        <span class="mui-tab-label">广告红包</span>
		    </a>
		    <a href="/src/views/wifi/main.html" class="mui-tab-item">
		        <span class="mui-icon ss-icon-wifi"></span>
		        <span class="mui-tab-label">全民WIFI</span>
		    </a>
		    <a href="/src/views/earn/main.html" class="mui-tab-item">
		        <span class="mui-icon ss-icon-earn"></span>
		        <span class="mui-tab-label">我的收益</span>
		    </a>
		    <a href="/src/views/me/main.html" class="mui-tab-item">
		        <span class="mui-icon ss-icon-me"></span>
		        <span class="mui-tab-label">我的主页</span>
		    </a>
		</nav>
		<div class="mui-content ss-content">
		    <div class="sub-bar-nav mui-bar mui-bar-tab">
				<a class="mui-tab-item mui-active">
					<span class="mui-icon ss-icon-navAll"></span>
					<span class="mui-tab-label">全部</span>
				</a>
				<a class="mui-tab-item">
					<span class="mui-icon ss-icon-navAvilable"></span>
					<span class="mui-tab-label">可抢</span>
				</a>
				<a class="mui-tab-item">
					<span class="mui-icon ss-icon-food"></span>
					<span class="mui-tab-label">美食</span>
				</a>
				<a class="mui-tab-item">
					<span class="mui-icon ss-icon-clothes"></span>
					<span class="mui-tab-label">时尚</span>
				</a>
				<a class="mui-tab-item">
					<span class="mui-icon mui-icon-hotel"></span>
					<span class="mui-tab-label">酒店</span>
				</a>
				<a class="mui-tab-item">
					<span class="mui-icon mui-icon-trip"></span>
					<span class="mui-tab-label">旅行</span>
				</a>
			</div>
		</div>
	</body>
	<script src="../../public/js/common/base.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../public/js/common/common.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../public/js/common/rem.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../public/js/home/index.js" type="text/javascript" charset="utf-8"></script>
</html>
