<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>广告列表</title>
		<link rel="stylesheet" type="text/css" href="../../public/style/css/common/mui.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../public/style/css/home/index.css"/>
		<script src="../../public/js/libs/mui.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav ss-bar-nav">
		    <a class="mui-icon mui-pull-left ss-icon-city" id="city-locate">成都</a>
		    <h1 class="mui-title ss-title">时速聚财广告红包</h1>
			<a class="mui-icon ss-btn-share">分享</a>
		</header>
		<nav class="ss-bar-tab mui-bar mui-bar-tab">
		    <a href="/src/views/home/index.html" data-id="home-index" class="mui-tab-item mui-active">
		        <span class="mui-icon ss-icon-hongbao"></span>
		        <span class="mui-tab-label">广告红包</span>
		    </a>
		    <a href="/src/views/wifi/main.html" data-id="wifi-main" class="mui-tab-item">
		        <span class="mui-icon ss-icon-wifi"></span>
		        <span class="mui-tab-label">全民WIFI</span>
		    </a>
		    <a href="/src/views/earn/main.html" data-id="earn-main" class="mui-tab-item">
		        <span class="mui-icon ss-icon-earn"></span>
		        <span class="mui-tab-label">我的收益</span>
		    </a>
		    <a href="/src/views/me/main.html" data-id="me-main" class="mui-tab-item">
		        <span class="mui-icon ss-icon-me"></span>
		        <span class="mui-tab-label">我的主页</span>
		    </a>
		</nav>
		<div class="mui-content ss-content">
		    
		</div>
	</body>
	<script src="../../public/js/common/base.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../public/js/common/common.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../public/js/common/rem.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../public/js/home/index.js" type="text/javascript" charset="utf-8"></script>
</html>
