<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
    <title>关于我们</title>
    <link rel="stylesheet" href="style.css">    
</head>
<body> 
     <div class="intro">
       <div class="intro-head">
         <img src="img/intro-img.png" alt="" class="intro-head-bg">
         <div class="intro-head-top">
           <a href="javascript:void(0);"><img src="images/img/left-arrow.png" alt="" class="left-arrow fl"></a>
           <a href="javascript:void(0);"><img src="images/img/intro-icon1.png" alt="" class="intro-icon fr"></a>
           <a href="javascript:void(0);"><img src="images/img/intro-icon2.png" alt="" class="intro-icon fr"></a>
         </div>
         <div class="intro-head-l">
           <div class="font14rem">首彩葡萄酒</div>
           <div>最大红包<span>￥2000</span>元</div>
         </div>
         <div class="intro-head-r">
           <div>可抢</div>
           <div>还有<span>182</span>个红包</div>
         </div>
       </div>

       <div class="intro-con">
         <h2 class="intro-con-tit tc">首彩葡萄酒 中国第一进口葡萄酒品牌</h2>
         <p class="intro-con-txt">
           首彩葡萄酒内容首彩葡萄酒内  容首彩葡萄酒内容首彩葡萄酒内容首彩葡萄酒内容首彩葡萄酒内容首彩葡萄酒 酒内容首彩葡萄酒内容首彩葡萄酒内容首彩葡萄酒内容首彩葡萄酒内容首彩葡萄酒内容首彩葡萄酒内容首彩葡萄酒内容首彩葡萄酒内容首彩葡萄酒内容
           <img src="img/intro-img2.png" alt="">
           酒内容首彩葡萄酒内容首彩葡萄酒内容首彩 彩葡萄酒内容首彩葡萄酒内容首彩葡萄酒内容首彩葡萄酒内容首彩葡萄酒
         </p>
       </div>

       <div class="intro-foot">
         <div class="intro-foot-tit">请选择正确的答案参与看广告抢红包</div>
         <p>
           <span class="test-tit">首彩拥有以下哪个系列葡萄酒代理权</span>
           A.KAJDLFKAJDFA</br>
           B.KAJDLFKAJDFA</br>
           C.KAJDLFKAJDFA</br>
           D.KAJDLFKAJDFA
           <div class="test-answer display-flex">
             <a href="javascript:void(0);" class="flex1">A</a>
             <a href="javascript:void(0);" class="flex1">B</a>
             <a href="javascript:void(0);" class="flex1">C</a>
             <a href="javascript:void(0);" class="flex1">D</a>
           </div>
           <div class="display-flex">
             <input type="submit" value="确认提交答案" class="flex1">
           </div>
           <div class="tc intro-tips">
             选择错误答案 将无法领取红包
           </div>  
           <div class="intro-link display-flex">
             <a href="#" class="tc flex1">
               <div style="background:#FAA519 url(img/intro-icon1.png) no-repeat center center;background-size:2.2rem auto;"></div>             
               <span>转发</span>
             </a>
             <a href="#" class="tc flex1 ">
               <div style="background:#FAA519 url(img/intro-icon2.png) no-repeat center center;background-size:2.2rem auto;"></div>     
               <span>跳转链接</span>
             </a>
           </div> 
         </p>
       </div>
     </div>
</body> 
</html>