<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>list hongbao</title>
    <link rel="stylesheet" type="text/css" href="../../public/style/css/common/mui.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../public/style/css/home/list-hongbao.css"/>
</head>
<body>
<div class="mui-content ss-content--list-hongbao">
    <a href="#" class="list-item-hongbao">
        <img src="../../public/images/hongbao1.png" alt="bg">
        <div class="hongbao-info text1">
            <span class="hongbao-name">首彩葡萄酒</span>
            <span class="hongbao-jine">最大红包￥2000元</span>
        </div>
        <div class="hongbao-info text2">
            <span class="hongbao-status">可抢</span>
            <span class="hongbao-num">还有182个红包</span>
        </div>
    </a>

    <a href="#" class="list-item-hongbao">
        <img src="../../public/images/hongbao2.png" alt="bg">
        <div class="hongbao-info text1">
            <span class="hongbao-name">时速无线</span>
            <span class="hongbao-jine">最大红包￥4000元</span>
        </div>
        <div class="hongbao-info text2">
            <span class="hongbao-status">可抢</span>
            <span class="hongbao-num">还有120个红包</span>
        </div>
    </a>

    <a href="#" class="list-item-hongbao">
        <img src="../../public/images/hongbao3.png" alt="bg">
        <div class="hongbao-info text1">
            <span class="hongbao-name">时速车展</span>
            <span class="hongbao-jine">最大红包￥5000元</span>
        </div>
        <div class="hongbao-info text2">
            <span class="hongbao-status">可抢</span>
            <span class="hongbao-num">还有82个红包</span>
        </div>
    </a>
</div>
</body>
</html>