<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>登录</title>
		<link rel="stylesheet" type="text/css" href="../../public/style/css/common/mui.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../public/style/css/login.css"/>
		<script src="../../public/js/libs/mui.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		
		<header class="mui-bar mui-bar-nav ss-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left ss-icon-left-nav"></a>
		    <h1 class="mui-title ss-title">输入新密码</h1>
		</header>
		<div class="mui-content ss-content">
			<div class="bg">
				<img id="bg_img" src="../../public/images/login/orange_bg.png"/>
			</div>
		    <form action="" class="ss-login-form">
		    	<div class="input-w">
		    		<input type="tel" name="phone" id="phone" placeholder="请输入新的登录密码" />
		    	</div>
		    	<div class="input-w">
		    		<input type="password" name="password" id="password" placeholder="请再次输入密码" />
		    	</div>
		    	
		    	<div class="input-w input-w-last">
		    		<button type="button" class="mui-btn ss-btn ss-btn-resgist">注册</button>
		    	</div>
		    	
		    	<div class="error-mes-w">
		    		<p>为了您的账户安全</p>
		    		<p class="error-mes">请确认密码大于6个字符 建议包含字母与数字</p>
		    	</div>
		    </form>
		</div>
	</body>
	<script src="../../public/js/common/rem.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../public/js/login/modify-password.js" type="text/javascript" charset="utf-8"></script>
</html>
