<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>登录</title>
		<link rel="stylesheet" type="text/css" href="../../public/style/css/common/mui.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../public/style/css/login.css"/>
		<script src="../../public/js/libs/mui.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		
		<header class="mui-bar mui-bar-nav ss-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left ss-icon-left-nav"></a>
		    <h1 class="mui-title ss-title">注册</h1>
		</header>
		<div class="mui-content ss-content ss-content--regist">
			<div class="bg" id="bg_img"></div>
		    <form action="" class="ss-login-form">
		    	<div class="input-w">
		    		<input type="tel" name="phone" id="phone" placeholder="请输入注册手机号码" />
		    	</div>
		    	<div class="input-w">
		    		<input type="password" name="password" id="password" placeholder="请输入密码" />
		    	</div>
		    	
		    	<div class="input-w">
		    		<input type="password" name="passConfirm" id="passConfirm" placeholder="请再次输入密码" />
		    	</div>
		    	
		    	<div class="input-w">
		    		<input type="tel" name="invitePhone" id="invitePhone" placeholder="邀请人手机号（无邀请人不填写）" />
		    	</div>
		    	
		    	<div class="input-w input-w--validation">
		    		<input type="tel" name="validationNum" id="validationNum" class="validationNum-input" placeholder="请输入验证码" />
		    		<button type="button" class="ss-btn ss-btn-sendCode">发送验证码</button>
		    	</div>
		    	
		    	<a href="#" class="ss-btn__forgot-pass">注册即同意时速聚财《用户使用协议》</a>
		    	
		    	<div class="input-w input-w-last">
		    		<button type="button" class="mui-btn ss-btn ss-btn-resgist">注册</button>
		    	</div>
		    	
		    	<div class="error-mes-w">
		    		<p class="error-mes"></p>
		    	</div>
		    </form>
		    
		    <div class="tip">
				<p>加入时速聚财 迎接薪时代</p>
				<p>当翘脚老板 轻松吃票子</p>
			</div>
		</div>
	</body>
	<script src="../../public/js/common/base.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../public/js/common/rem.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../public/js/login/regist.js" type="text/javascript" charset="utf-8"></script>
</html>
