@import "../common/variable";
@import "../common/component";

body {
    background: #fff;
}
.ss-content {
    @pc: #FFDA99;
    background: transparent;
    .sub-bar-nav {
        display: table;
        top: 0;
        bottom: auto;
        width: 100%;
        height: 78px;
        background: @primary;
        box-shadow: none;
        .mui-tab-item {
            .mui-icon ~ .mui-tab-label {
                font-size: 0.75rem;
                color: lighten(@pc, 15%);
            }
            &.mui-active {
                border-bottom: 5px solid #fff;
                color: #fff;

                .mui-icon {
                    width: 45px;
                    height: 45px;
                }
                .mui-tab-label {
                    padding-top: 2/@f*@u;
                    font-size: 0.85rem;
                }
            }
        }
        .mui-icon {
            width: 37px;
            height: 37px;
            background-size: contain;
            transition: all 80ms;
        }
    }

    .ss-icon-navAll {
        background: url("../../../images/hb_navlist_all.png") no-repeat center;
    }
    .ss-icon-food {
        background: url("../../../images/hb_navlist_food.png") no-repeat center;
    }
    .ss-icon-clothes {
        background: url("../../../images/hb_navlist_clothes.png") no-repeat center;
    }
    .mui-icon-hotel {
        background: url("../../../images/hb_navlist_hotel.png") no-repeat center;
    }
    .ss-icon-navAvilable {
        background: url("../../../images/hb_navlist_avilable.png") no-repeat center;
    }
    .mui-icon-trip {
        background: url("../../../images/hb_navlist_trip.png") no-repeat center;
    }
}
.ss-content--list-hongbao {
    overflow-x: hidden;
    a {
        display: block;
        position: relative;
        width: 100%;
        overflow: hidden;
        img {
          display: block;
          width: 100%;
          max-height: 180px;
        }
        .hongbao-info {
            position: relative;
            z-index: 3;
            color: #efefef;
            span {
                display: block;
                font-size: .9rem;
            }
        }
        .hongbao-bottom-bg {
            position: absolute;
            left: 0;
            bottom: -1px;
            z-index: 2;
        }
        .text1,
        .text2 {
          position: absolute;
          bottom: 6/@f*@u;
          width: 50%;
          font-size: .9rem;
        }
        .text1 {
          left: 0;
          padding-left: 10/@f*@u;
          line-height: 1.3;

          .hongbao-name {
            font-size: 1.1rem;
          }
        }
        .text2 {
          right: 0;
          text-align: right;
          padding-right: 10/@f*@u;
        }
    }
}
.ss-list-hongbao-w {
    margin-top: 78px;
}

