@charset "utf-8";
@import "variable";

.remW (@w){
    width: (@w/@f)*@u;
}
.remH (@h){
    height: (@h/@f)*@u;
}


body {
    font-family: "arial, helvetica, sans-serif";
    background: @primary;
}

ul {
    padding: 0;
    list-style: none;
}

.ss-bar-tab {
    &.mui-bar-tab {
        .mui-icon {
            background-size: contain;
        }
        .mui-tab-item.mui-active {
            color: @primary;
            .ss-icon-hongbao {
                background: url("../../../images/hongbao_s.png") no-repeat center;
            }
            .ss-icon-wifi {
                background: url("../../../images/second_s.png") no-repeat center;
            }
            .ss-icon-earn {
                background: url("../../../images/earn_s.png") no-repeat center;
            }
            .ss-icon-me {
                background: url("../../../images/nav_me_s.png") no-repeat center;
            }
            .mui-icon {
                background-size: contain;
            }
        }
    }
    .ss-icon-hongbao {
        background: url("../../../images/hongbao_d.png") no-repeat center;
    }
    .ss-icon-wifi {
        background: url("../../../images/second_d.png") no-repeat center;
    }
    .ss-icon-earn {
        background: url("../../../images/earn_d.png") no-repeat center;
    }
    .ss-icon-me {
        background: url("../../../images/nav_me_d.png") no-repeat center;
    }
}