@charset "utf-8";
@import "variable";

.remW (@w){
    width: (@w/@f)*@u;
}
.remH (@h){
    height: (@h/@f)*@u;
}

html{
    max-width: 580px;
    overflow-x: hidden;
}

body {
//  font-family: "arial, helvetica, sans-serif";
//  background: @primary;
}

ul {
    padding: 0;
    list-style: none;
}

.ss-bar-nav {
    @pc: #FFDA99;
    box-shadow: none;
    border-bottom: 1px solid #FEC75C;
    background: url('../../../images/bg_bar.png') repeat-x center;
    .ss-icon-left-nav {
        font-size: (24/@f)*@u;
        color: #fff;
    }
    .ss-title {
        color: lighten(@pc, 10%);
        font-size: 1.2rem;
    }
    .mui-btn-link {
        color: @pc-l;
    }
}

.ss-bar-tab {
    &.mui-bar-tab {
        .mui-icon {
            background-size: contain;
        }
        .mui-tab-item.mui-active {
            color: @primary;
            .ss-icon-hongbao {
                background: url("../../../images/hongbao_s.png") no-repeat center;
            }
            .ss-icon-wifi {
                background: url("../../../images/second_s.png") no-repeat center;
            }
            .ss-icon-earn {
                background: url("../../../images/earn_s.png") no-repeat center;
            }
            .ss-icon-me {
                background: url("../../../images/nav_me_s.png") no-repeat center;
            }
            .mui-icon {
                background-size: contain;
            }
        }
    }
    .ss-icon-hongbao {
        background: url("../../../images/hongbao_d.png") no-repeat center;
    }
    .ss-icon-wifi {
        background: url("../../../images/second_d.png") no-repeat center;
    }
    .ss-icon-earn {
        background: url("../../../images/earn_d.png") no-repeat center;
    }
    .ss-icon-me {
        background: url("../../../images/nav_me_d.png") no-repeat center;
    }
}

.tc {
    text-align: center;
}

.mui-bar-tab .mui-tab-item {
    .ss-icon-hongbao {
        width: 22px;
    }
    .ss-icon-earn {
        width: 28px;
    }
}

.mui-bar-tab .mui-tab-item .mui-icon {
    top: 5px;
}

.mui-bar-tab .mui-tab-item .mui-icon~.mui-tab-label {
    height: 21px;
    padding-top: 1px;
}

.bg {
        position: absolute;
        top: 0;    
        bottom: 0;
        z-index: 0;
        width: 100%;
        height: 667px;
        img {
            display: block;
            width: 100%;
        }
//      &#bg_img {
            background-image: -moz-linear-gradient(top, #ffbe36, #fd9426);
            background-image: -ms-linear-gradient(top, #ffbe36, #fd9426);
            background-image: -o-linear-gradient(top, #ffbe36, #fd9426);
            background-image: -webkit-gradient(linear, center top, center bottom, from(#ffbe36), to(#fd9426));
            background-image: -webkit-linear-gradient(top, #ffbe36, #fd9426);
            background-image: linear-gradient(top, #ffbe36, #fd9426);
//      }

        .logo-c {
            position: absolute;
            z-index: 2;
            height: 100px;
            width: 200px;
            bottom: 1rem;
            left: 50%;
            margin-left: -100px;
            background: url(../../../public/images/login/logo2.png) no-repeat center;
            background-size: contain;
        }
    }
    
.ss-bar-nav--white {
    background: rgba(255,255,255,.9);
    border-bottom: 1px solid #adadad;
    box-shadow: none;
    .ss-mui-icon-left-nav {
    //  background: url(../../../images/nav(white)_btn_back_n.png) no-repeat center;
        color: @nav-arrow-c;
        padding-top: 5px;
        img {
            width: 35px;
            height: 35px;
        }
        
        & + .ss-title {
            padding-top: 1px;
            color: @nav-arrow-c;
        }
    }
}